.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.fixed-side-content {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#prescription-reset {
    margin-right: 18px;
}

#calender-section {
    background-color: #f5f5f5;
}

#header {
    padding-top: 0px;
}
