 .skin-blue .sidebar a {
     color: white;
 }
 
 [ng\:cloak],
 [ng-cloak],
 [data-ng-cloak],
 [x-ng-cloak],
 .ng-cloak,
 .x-ng-cloak {
     display: none !important;
 }
 
 .skin-blue .sidebar a:hover {
     color: white;
 }
 
 [ng\:cloak],
 [ng-cloak],
 [data-ng-cloak],
 [x-ng-cloak],
 .ng-cloak,
 .x-ng-cloak {
     display: none !important;
 }
 
 .dosageForm {
     margin-top: 8px;
 }
 
 .dosage {
     margin-bottom: 8px;
     margin-right: 5px;
 }
 
 #immunizationDatepicker {
     height: 30px;
     /*width: 160px;*/
     border-radius: 4px;
     border: 1px solid #00bd9c;
     margin-left: 10px;
 }
 
 .panelDropdown {
     margin-left: 40px;
 }
 
 .modalHeader {
     color: #00bd9c;
 }
 
 .heightWeightAddBtn {
     color: #00bd9c;
     background-color: white;
     border: 1px solid #00bd9c;
 }
 
 .heightWeightTable {
     margin-top: 10px;
 }
 
 .heightWeightTable>thead>tr>td {
     font-weight: bold;
 }
 
 #heightWeightDatepicker {
     height: 30px;
 }
 
 .dropdown-toggle {
     overflow: hidden;
     /*padding-right: 24px;*/
     text-align: left;
     text-overflow: ellipsis;
     width: 100%;
 }
 
 .familyFirstRow {
     margin-left: 5px;
 }
 
 .familyRow {
     margin-top: 10px;
     margin-left: 10px;
 }
 
 .heightWeightAddBtn:hover {
     color: white;
     background-color: #00bd9c;
 }
 
 #remarks {
     width: 97%;
 }
 
 #exampleInputHeight,
 #exampleInputWeight {
     margin-right: 15px;
     width: 54px;
 }
 
 .immunityBtn,
 .addRelativeBtn {
     /*width: 120px;*/
     margin-bottom: 6px;
     background-color: white;
     border: 1px solid #00bd9c;
 }
 
 .addRelativeBtn,
 #remarks {
     height: 35px;
 }
 
 .relationDropdown {
     margin-top: 10px;
 }
 
 .relationBtn,
 .diseaseBtn {
     margin-top: 8px;
     margin-left: 4px;
     /* margin-right: 10px;*/
     background-color: white;
     border: 1px solid #00bd9c;
 }
 
 .diseaseBtn {
     width: 96%;
 }
 
 .relationBtn {
     width: 95%;
 }
 
 #remarks {
     border-radius: 4px;
     border: 1px solid #00bd9c;
     border-color: #00bd9c;
     /*height: 30px;*/
     margin-left: 12px;
     margin-bottom: 5px;
     /*width: 180px;*/
 }
 
 @media screen and (max-width:991px) {
     #remarks {
         width: 95%;
     }
 }
 
 .addRelativeBtn {
     /*margin-left: 10px;*/
     color: #00bd9c;
 }
 
 .addRelativeBtn:hover {
     color: white;
     background-color: #00bd9c;
 }
 
 .immunizationCheckBox {
     margin-left: 37px;
 }
 
 .panelDropdownStatus {
     margin-bottom: 15px;
     margin-top: 10px;
     margin-left: 5px;
 }
 
 .optionsDropdown {
     margin: 8px 53px 0;
 }
 
 .optionsDropdownStatus {
     margin: 0px 46px 0;
 }
 
 .content-wrapper {
     padding-left: 15px;
     margin-top: -20px;
     background-color: white;
 }
 
 .container-fluid {
     padding-right: 0px;
 }
 
 #bs-example-navbar-collapse-1 {
     background-color: #3c8dbc;
 }
 
 #logo {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     padding-top: 0px;
     background-color: #367fa9;
     color: #fff;
     font-size: 20px;
     line-height: 50px;
     text-align: center;
     width: 230px;
 }
 
 .logo-lg {
     display: block;
 }
 
 .logo-mini {
     display: none;
 }
 
 .familyHistoryBody {
     margin-top: 20px;
 }
 
 #loginHorizontal {
     width: 68%;
     border: 1.2px solid #f39c12;
 }
 
 .skin-blue .wrapper {
     background-color: white;
 }
 
 #body {
     background-color: white;
 }
 
 .details {
     margin-right: 20px;
     /*border: 1px solid #f5f5f5;*/
 }
 
 .history {
     margin-right: 20px;
     padding: 0px;
     /*border: 1px solid #f5f5f5;*/
 }
 
 .summary {
     padding: 0px;
     /*border: 1px solid #f5f5f5;*/
 }
 
 .detailsHeading {
     margin-left: 25px;
 }
 
 .panel-success {
     border-color: #d6e9c6;
 }
 
 .patientDashBoard {
     margin-top: 20px;
 }
 
 .panel {
     overflow: visible;
     color: black;
     background-color: #ffffff;
     border: 1px solid #d6e9c6;
 }
 
 .panel-body {
     overflow: visible;
     padding: 0px;
 }
 
 .immunizationBody {
     margin-top: 10px;
 }
 
 .collapse.in {
     height: auto;
     /* this style already exists in bootstrap.css */
     overflow: visible;
     /* this one doesn't. Add it! */
 }
 
 .patientHistoryPanel>.panel-heading {
     height: 45px;
     color: white;
     background-color: #3c8dbc;
 }
 
 .immunizationHistoryPanel>.panel-heading,
 .familyHistoryPanel>.panel-heading,
 .medicalHistoryPanel>.panel-heading {
     height: 45px;
     color: white;
     background-color: #3c8dbc;
 }
 
 .patientDetailsTable>tbody>.photo>td {
     height: 120px;
 }
 
 .patientDetailsTable {
     border-bottom: 1px solid #f5f5f5;
 }
 
 .patientDetailsTable>tbody>tr>td {
     height: 50px;
 }
 
 .heightWeightBtn,
 .bloodPressureBtn {
     border-color: #00bd9c;
     color: #00bd9c;
     background-color: white;
     margin-top: -8px;
     margin-left: 8px;
     margin-bottom: 8px;
 }
 
 .immunizationBtn,
 .modalVaccineBtn {
     border-color: #00bd9c;
     color: #00bd9c;
     background-color: white;
 }
 
 .comments {
     height: 30px;
     margin-top: -15px;
     margin-bottom: 5px;
 }
 
 .modalVaccineBtn {
     margin-right: 5px;
 }
 
 #exampleInputHeight,
 #exampleInputWeight,
 #heightWeightDatepicker {
     border-radius: 4px;
     border: 1px solid #00bd9c;
 }
 
 #bloodPressureDatepicker,
 #exampleInputBloodPressureFirstPart,
 #exampleInputBloodPressureSecondPart {
     border-radius: 4px;
     border: 1px solid #00bd9c;
     height: 30px;
 }
 
 #diseaseSelect {
     margin-bottom: 5px;
     border-radius: 4px;
     height: 30px;
     border: 1px solid #00bd9c;
     width: 100%;
 }
 
 #relationSelect {
     border-radius: 4px;
     height: 30px;
     width: 100%;
     border: 1px solid #00bd9c;
 }
 
 .vaccineNameInRow,
 .vaccineRemarks {
     vertical-align: middle;
 }
 
 .form-control[readonly] {
     background-color: white;
 }
 
 #exampleInputBloodPressureFirstPart,
 #exampleInputBloodPressureSecondPart {
     width: 52px;
 }
 
 .heightWeightBtn:hover,
 .bloodPressureBtn:hover,
 .immunizationBtn:hover,
 .modalVaccineBtn:hover {
     color: white;
     background-color: #00bd9c;
 }
 
 .immunizationInfo {
     margin-left: 10px;
 }
 
 .vaccinationTable {
     margin-left: 10px;
 }
 
 .patientDetailsTable>tbody>tr>td:first-child {
     border-right: 1px solid #f5f5f5;
     width: 40%;
     font-weight: bold;
 }
