<div ng-controller="doctorProfileController as doctorProfile">
    <h3 id="doctorProfileHeader">Doctor Profile</h3>
    <div id="accordionsPanelGroup">
        <uib-accordion close-others="doctorProfile.oneAtATime">
            <div uib-accordion-group class="panel-default" heading="Change Password">
                <form ng-submit="doctorProfile.changeDoctorPassword()" class="form-horizontal">
                    <div class="form-group">
                        <label for="inputOldPassword" class="col-md-2 col-sm-2 col-xs-2 control-label">Old Password</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input ng-model="doctorProfile.password.old" type="password" class="form-control" id="inputOldPassword" placeholder="Old Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputNewPassword" class="col-md-2 col-sm-2 col-xs-2 control-label">New Password</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input ng-model="doctorProfile.password.new" type="password" class="form-control" id="inputNewPassword" placeholder="New Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputReTypePassword" class="col-md-2 col-sm-2 col-xs-2 control-label">Re-type New Password</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input ng-model="doctorProfile.password.reenter" type="password" class="form-control" id="inputNewPassword" placeholder="Re-type password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-10 col-sm-10 col-xs-10">
                            <button type="submit" class="btn btn-danger" id="changePasswordBtn">Update Password</button>
                        </div>
                    </div>
                </form>
            </div>
            <div uib-accordion-group class="panel-default" heading="Update Personal Information">
                <form ng-submit="doctorProfile.changeDoctorDetails()" class="form-horizontal">
                    <div class="form-group">
                        <label for="inputFirstName" class="col-md-2 col-sm-2 col-xs-2 control-label">First Name</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input readonly ng-model="doctorProfile.update.firstName" type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLastName" class="col-md-2 col-sm-2 col-xs-2 control-label">Last Name</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input readonly ng-model="doctorProfile.update.lastName" type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputRegNo" class="col-md-2 col-sm-2 col-xs-2 control-label">Registration No.</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input readonly ng-model="doctorProfile.update.doctorRegistrationNo" type="text" class="form-control" id="inputRegNo" placeholder="Registration No.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSpeciality" class="col-md-2 col-sm-2 col-xs-2 control-label">Speciality</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input ng-model="doctorProfile.update.speciality" type="text" class="form-control" id="inputSpeciality" placeholder="Speciality">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputOrganization" class="col-md-2 col-sm-2 col-xs-2 control-label">Organization</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input ng-model="doctorProfile.update.organization" type="text" class="form-control" id="inputOrganization" placeholder="Organization">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputQualification" class="col-md-2 col-sm-2 col-xs-2 control-label">Qualification</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input ng-model="doctorProfile.update.qualification" type="text" class="form-control" id="inputQualification" placeholder="Qualification">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputOfficeAddress" class="col-md-2 col-sm-2 col-xs-2 control-label">Office Address</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <textarea ng-model="doctorProfile.update.officeAddress" class="form-control" rows="2" placeholder="Office Address" id="inputOfficeAddress"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCity" class="col-md-2 col-sm-2 col-xs-2 control-label">City</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input ng-model="doctorProfile.update.city" type="text" class="form-control" id="inputCity" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPhoneNumber" class="col-md-2 col-sm-2 col-xs-2 control-label">Phone Number</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input readonly ng-model="doctorProfile.update.phoneNumber" type="text" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-2 col-sm-2 col-xs-2 control-label">Email</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input readonly ng-model="doctorProfile.update.emailId" type="text" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputWebsiteUrl" class="col-md-2 col-sm-2 col-xs-2 control-label">Website URL</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input ng-model="doctorProfile.update.websiteUrl" type="text" class="form-control" id="inputWebsiteUrl" placeholder="Website Url">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-10 col-sm-10 col-xs-10">
                            <button type="submit" class="btn btn-danger" id="updateDetailsBtn">Update Details</button>
                        </div>
                    </div>
                </form>
            </div>
            <div uib-accordion-group class="panel-default" heading="My Assistants">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="assistantEntity in doctorProfile.assistantsOfDoctor">
                            <td ng-bind="$index+1"></td>
                            <td ng-bind="assistantEntity.assistant.firstName"></td>
                            <td ng-bind="assistantEntity.assistant.emailId"></td>
                            <td ng-bind="assistantEntity.assistant.phoneNumber"></td>
                            <td>
                                <div class="btn-group btn-toggle">
                                    <button ng-click="doctorProfile.changeAssistantState(assistantEntity,'ACTIVE')" ng-class="{'ACTIVE':assistantEntity.assistantMapping.state=='ACTIVE','INACTIVE':assistantEntity.assistantMapping.state=='INACTIVE'}" class="btn btn-sm activeInactiveBtn">ACTIVE</button>
                                    <button ng-click="doctorProfile.changeAssistantState(assistantEntity,'INACTIVE')" ng-class="{'INACTIVE':assistantEntity.assistantMapping.state=='ACTIVE','ACTIVE':assistantEntity.assistantMapping.state=='INACTIVE'}" class="btn btn-sm activeInactiveBtn">INACTIVE</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div uib-accordion-group class="panel-default" heading="My Credits : {{doctorProfile.doctor.credits}}">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Credit Type</th>
                            <th>Transaction Type</th>
                            <th>Creation Type</th>
                            <th>Credits</th>
                            <th>Reference Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="creditEntity in doctorProfile.CreditsListToBeDisplayed">
                            <td ng-bind="creditEntity.creditType"></td>
                            <td ng-bind="creditEntity.transactionType"></td>
                            <td ng-bind="creditEntity.creationTime|longDateIntoReadableDate"></td>
                            <td ng-bind="creditEntity.credits"></td>
                            <td ng-bind="creditEntity.referenceId"></td>
                        </tr>
                    </tbody>
                </table>
                <uib-pagination class="pull-right" items-per-page="doctorProfile.itemsPerPage" ng-change="doctorProfile.pageChanged()" total-items="doctorProfile.totalItems" ng-model="doctorProfile.currentPage"></uib-pagination>
            </div>
            <div uib-accordion-group class="panel-default" heading="My Addresses">
                <div class="row">
                    <a style="margin-right:10px;" ng-if="doctorProfile.addNewAddress" ng-click="doctorProfile.updateAddress('newAddress')" id="addNewAddressLink" class="linksInDoctor doctorLink pull-right">Add New Address</a>
                    <a style="margin-right:10px;" ng-if="doctorProfile.backToAddresses" ng-click="doctorProfile.updateAddress('backToAddresses')" id="backToAddressLink" class="linksInDoctor doctorLink pull-right">Back to Addresses</a>
                </div>
                <div class="row">
                    <div ng-if="doctorProfile.showAddressesRadios" ng-repeat="addressEntity in doctorProfile.clinicAddresses" class="col-md-2 col-sm-2 col-xs-2">
                        <div class="radio patientRadios">
                            <label class="textOfRadios">
                                <input ng-click="doctorProfile.selectActiveAddress(addressEntity,$index)" type="radio" ng-checked="doctorProfile.{{'radio'+$index}}" name="addressRadio">Address {{$index+1}}
                            </label>
                        </div>
                    </div>
                </div>
                <form style="margin-top:10px;" ng-submit="doctorProfile.changeClinicAddress()" class="form-horizontal">
                    <div class="form-group">
                        <label for="inputaddressLine" class="col-md-2 col-sm-2 col-xs-2 control-label">Address Line 1</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input ng-model="doctorProfile.clinicAddress.address" type="text" class="form-control" id="inputaddressLine" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputaddressCity" class="col-md-2 col-sm-2 col-xs-2 control-label">City</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input ng-model="doctorProfile.clinicAddress.city" type="text" class="form-control" id="inputaddressLine" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputaddressPinCode" class="col-md-2 col-sm-2 col-xs-2 control-label">Address Line 1</label>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <input ng-model="doctorProfile.clinicAddress.pincode" type="text" class="form-control" id="inputaddressPinCode" placeholder="Pin Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-10 col-sm-10 col-xs-10">
                            <button type="submit" class="btn btn-danger" id="updateDetailsBtn">Update Address</button>
                        </div>
                    </div>
                </form>
            </div>
        </uib-accordion>
    </div>
</div>
