<div class="wrapper" ng-controller="doctorHomeController as doctorHome" ng-cloak>
    <header class="main-header">
        <a style="cursor:pointer" class="logo">
            <span class="logo-lg"><b>Dbotica</b></span>
        </a>
        <nav id="fullPageView" class="navbar navbar-fixed-top">
            <div id="navsInHeader" class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a id="logoutLinkInWebPage" class="dropdown-toggle doctorLink" ng-click="doctorHome.logoutFromDoctor()" data-toggle="dropdown">Logout
                       </a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav id="onMinimizeNav" class="navbar doctorNav navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button style="background-color:white;" type="button" aria-expanded="false" aria-controls="navbar" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ui-sref=".doctorProfile" class="doctorSections sectionsInNavBar" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>Profile</a></li>
                        <li ui-sref=".drugPrescription" class="doctorSections" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>Drug Prescription</a></li>
                        <li ui-sref=".myPrescriptions" class="doctorSections" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>My Prescriptions</a></li>
                        <li ui-sref=".myPatients" class="doctorSections" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>My Patients</a></li>
                        <li ui-sref=".myScheduler" class="doctorSections" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>My Scheduler</a></li>
                        <li ui-sref=".referDbotica" class="doctorSections" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>Refer Dbotica</a></li>
                        <!-- <li ui-sref=".settings" class="doctorSections" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>Settings</a></li> -->
                        <li class="dropdown doctorSections doctorLink" ui-sref=".settings" ui-sref-active="activeDoctorLi activeDoctorLi>a">
                            <a data-toggle="dropdown" class="dropdown-toggle">Settings<b class="caret"></b></a>
                            <ul id="settingsDropdown" class="dropdown-menu">
                                <li>
                                    <a class="doctorLinks doctorLinksInDropdown">Template 1</a>
                                </li>
                                <li>
                                    <a class="doctorLinks doctorLinksInDropdown">Template 2</a>
                                </li>
                                <li>
                                    <a class="doctorLinks doctorLinksInDropdown">Template 3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="dropdown-toggle doctorLink" ng-click="doctorHome.logoutFromDoctor()" data-toggle="dropdown">Logout
                       </a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <aside style="position:fixed;" class="main-sidebar">
        <section class="sidebar">
            <div ui-sref=".doctorProfile" style="cursor:pointer;">
                <img id="doctorImage" src="../dist/img/Indian_doctors.1193.636x395.jpg" class="user-image" alt="User Image">
                <li id="doctorName" class="doctorLink">
                    <a id="doctorNameLink">{{doctorHome.doctorName}}</a>
                </li>
            </div>
            <ul class="sidebar-menu">
                <li ui-sref=".drugPrescription" class="doctorSections" id="drugPrescriptionActive" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>Drug Prescription</a></li>
                <li ui-sref=".myPrescriptions" class="doctorSections" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>My Prescriptions</a></li>
                <li ui-sref=".myPatients" class="doctorSections" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>My Patients</a></li>
                <li ui-sref=".myScheduler" class="doctorSections" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>My Scheduler</a></li>
                <li ui-sref=".referDbotica" class="doctorSections" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>Refer Dbotica</a></li>
                <!-- <li ui-sref=".settings" class="doctorSections" ui-sref-active="activeDoctorLi activeDoctorLi>a" class="doctorLink"><a>Settings</a></li> -->
                <li class="treeview">
                    <a class="doctorLink"><span>Settings</span><i class="fa fa-angle-left pull-right"></i></a>
                    <ul id="settingsDropdownContents" class="treeview-menu">
                        <li ui-sref=".settings" ui-sref-active="activeDoctorLi activeDoctorLi>a">
                            <a class="doctorLink settingsLinkInDropdown">Drug Templates</a>
                        </li>
                        <li ui-sref=".diseaseTemplate" ui-sref-active="activeDoctorLi activeDoctorLi>a">
                            <a class="doctorLink settingsLinkInDropdown">Disease Template</a>
                        </li>
                        <li ui-sref=".imageTemplate" ui-sref-active="activeDoctorLi activeDoctorLi>a">
                            <a class="doctorLink settingsLinkInDropdown">Image Template</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <div id="doctorMainBody" style="background-color:white;" class="content-wrapper">
        <div ui-view autoscroll="false"></div>
    </div>
    <footer></footer>
    <div class="control-sidebar-bg"></div>
</div>
