#drugPrescriptionsBody {
    padding-top: 25px;
    margin-left: 20px;
}

.panelsInDoctor>.panel-heading {
    color: white;
    height: 35px;
    background-color: #3c8dbc;
}

#templatesListTable {
    max-height: 200px;
}

.templateInstance,
.templateInstance:hover {
    float: right;
    color: white;
}

.templateInstance:hover {
    text-decoration: underline;
}

#imageInDrugsTable {
    max-height: 200px;
}

.imagesTable>thead>tr>th,
.imagesTable>tbody>tr>td {
    text-align: center;
}

.testDropDownActive {
    margin-left: 10px;
    display: block;
}

.historyCss {
    cursor: pointer;
    float: right;
    margin-right: 15px;
}

.caretCss {
    margin-top: 10px;
    float: right;
}

.caseNumberBtn {
    border-color: #367fa9 !important;
    background-color: white;
}

.activeCaseClass {
    color: green;
}

.btnDelete {
    padding-top: 1px;
    height: 25px;
    color: white;
    background-color: #3c8dbc;
}

.btnDelete:hover {
    color: white;
}

.panelsInDoctor>.patientInDoctorPanelBody {
    border: 1px solid #c5c5c5;
}

.ui-menu {
    background: white !important;
}

.ui-menu>li {
    border-bottom: 2px solid #f4f4f4;
}

.ui-state-focus {
    color: #3c8dbc !important;
    background: white !important;
    border: 1px solid #3c8dbc !important;
}

.ui-menu>li:hover,
.ui-menu>li:active,
.ui-menu>li:focus {
    color: #3c8dbc;
    background: white;
    border: 1px solid #3c8dbc;
}

.panelsInDoctor>.panel-heading>h4 {
    margin-top: -2px !important;
}

#patientsListLabel,
#patientPrescriptionsLabel {
    margin-left: 14px;
    margin-top: 6px;
}

#patientDataSecondRow {
    margin-top: 8px;
}

.patientTextAreas {
    margin-top: 6px;
}

@media only screen and (min-width: 992px) {
    .prescriptionHeader {
        margin-top: 60px;
    }
    .prescriptionReportHeader {
        padding-top: 85px;
        margin-left: 25px;
    }
    #doctorProfileHeader {
        margin-left: 25px;
        padding-top: 75px;
    }
}

.activeInactiveBtn {
    border-color: #3c8dbc !important;
}

.INACTIVE {
    background-color: white !important;
    color: #3c8dbc !important;
}

.ACTIVE {
    background-color: #3c8dbc !important;
    color: white !important;
}

#accordionsPanelGroup {
    margin-right: 20px !important;
    margin-left: 70px !important;
    padding-bottom: 1px !important;
}

@media only screen and (max-width:991px) {
    .prescriptionReportHeader {
        padding-top: 30px;
        margin-left: 25px;
    }
    .prescriptionReportpanels {
        margin-left: 45px;
    }
}

.prescriptionReportRow {
    margin-top: 6px;
}

.referToForm,
#prescriptionAdditionalComments,
.imageForm {
    margin-top: 6px;
}

#saveAndContinueBtn {
    margin-top: 10px;
    margin-right: 15px;
}

@media only screen and (max-width: 768px) {
    .drugScndRow {
        margin-top: 6px;
    }
    #daysCountBox {
        margin-left: 15px;
    }
    #prescription-form-units,
    #upArrows {
        margin-top: 10px;
    }
    #downArrows {
        margin-top: -1px;
    }
}

.patientDetailsSpan {
    margin-left: 8px;
}

#searchclear {
    position: absolute;
    right: 25px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#addTestBtn {
    margin-top: 9px;
}

@media only screen and (max-width:991px) {
    .timingsBtn {
        width: 55px;
    }
}

#timingsBtnGrp {
    margin-top: 18px;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}

.loadingSymbol {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

#blurBackScreen {
    background-color: #fafafa;
    opacity: 0.8;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 275%;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}
