#loginHeader {
    color: white;
    font-style: bold;
    font-weight: 600;
    font-size: 31.5px;
    padding-top: 15px;
    padding-left: 45px;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.displayNone {
    display: none !important;
}

.nav-tabs>li>a {
    cursor: pointer !important;
}

@media only screen and (min-width:768px) {
    #prescriptionModalDialog,
    #prescriptionInMyPatients,
    #saveDrugTemplatesModalDialogue {
        width: 800px !important;
    }
}


/* .panel-default {
    background-color: white !important;
    color: #3c8dbc !important;
} */

.referDoctorBtn {
    color: white;
    padding-top: 1px;
    padding-bottom: 2px;
    background-color: #3c8dbc;
    height: 40px !important;
}

.referDoctorBtn:hover,
.referDoctorBtn:active,
.referDoctorBtn:focus {
    color: white;
}

#testsTable>thead>tr,
#medicinesTable>thead>tr,
#prescriptionsTable>thead>tr,
#myPatientsTable>thead>tr {
    color: white !important;
    background-color: #3c8dbc !important;
}

#medicinesTable>thead>tr>th,
#testsTable>thead>tr>th,
#myPatientsTable>thead>tr>th,
#testsTable>tbody>tr>td,
#myPatientsTable>tbody>tr>td,
#appointmentsTable>thead>tr>th,
#appointmentsTable>tbody>tr>td,
#walkinsTable>thead>tr>th,
#walkinsTable>tbody>tr>td,
#saveDrugTemplates>thead>tr>th,
#saveDrugTemplates>tbody>tr>td {
    text-align: center;
}

.prescriptionEntities {
    font-size: 14px;
}

.prescriptionModalRow {
    margin-bottom: -10px !important;
}

#prescriptionsTable>thead>tr>th,
#prescriptionsTable>tbody>tr>td {
    text-align: center;
}

.activeDoctorLi {
    background-color: white !important;
}

.pagination {
    z-index: 1000 !important;
}

.skin-blue.wrapper.content-wrapper.paginationDiv {
    background-color: white !important;
}

.sidebar-menu.doctorSections:hover,
.sidebar-menu.doctorSections:focus,
.sidebar-menu.doctorSections:active {
    background-color: white !important;
}

#settingsDropdown {
    z-index: 1000 !important;
}

#settingsDropdown>li>a:hover {
    background-image: none !important;
    color: white !important;
    background-color: #3c8dbc !important;
}

.doctorLinksInDropdown:hover {}

.skin-blue.sidebar-menu>li:hover>a,
.skin-blue.sidebar-menu>li:active>a {
    background: white !important;
}

.skin-blue .sidebar a {
    color: #3c8dbc !important;
}

.skin-blue .sidebar a:hover {
    background: white !important;
}

.doctorSections>a:hover,
.doctorSections>a:active,
.doctorSections>a:focus {
    cursor: pointer;
    background-color: red;
    color: #3c8dbc !important;
}

.activeDoctorLi>a {
    color: #3c8dbc !important;
}

.loginBody {
    background-color: white;
}

#doctorMainBody {
    margin-bottom: -10px;
    margin-top: -20px;
}

#doctorImage {
    margin-left: 74px;
    margin-top: 6px;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

#doctorName {
    font-size: 20px;
    list-style-type: none;
    margin-top: 8px;
    text-align: center;
    color: white !important;
}

.loginHr {
    height: 0.5px;
    background: #888;
    width: 100%;
    margin-bottom: 10px;
}

#signupHere,
#assistantLogin,
#signInSignUp {
    cursor: pointer;
    color: #3c8dbc;
}

.header {
    margin-top: -20px;
    background-color: #3c8dbc;
    height: 65px;
}

.loginPanelHeading,
.signupPanelHeading {
    height: 50px;
    background-color: #3c8dbc;
}

.signinPanel,
.signupPanel {
    margin-top: 30px;
}

.doctorBtn {
    color: white;
    background-color: #3c8dbc;
}

.ui-autocomplete {
    z-index: 1200 !important;
}

.btnFormSettings {
    margin-left: 40px;
    padding-bottom: 1px;
}

.doctorBtn:hover,
.doctorBtn:focus,
.doctorBtn:active {
    color: white;
}

.signInPanelBody,
.signupPanelBody {
    border: 1px solid #3c8dbc;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#loginPanelHeader,
#signupPanelHeader {
    margin-top: 5px;
    color: white;
}

.doctorLink {
    cursor: pointer;
}

.hiddenForm {
    display: none;
}

@media only screen and (min-width:768px) {
    #sideBarToggle {
        display: none !important;
    }
    #exampleFromDate,
    #exampleToDate,
    #examplePatientPhone {
        width: 140px !important;
    }
}

@media only screen and (max-width:767px) {
    #sideBarToggle {
        display: block !important;
    }
}

.sectionsInNavBar:hover {
    background: white !important;
}

@media only screen and (min-width: 991px) {
    .sectionsInNavBar {
        display: none !important;
    }
    #onMinimizeNav {
        display: none !important;
    }
    #fullPageView {
        display: block !important;
    }
}

.skin-blue .main-header .navbar .nav>li>a:hover,
.skin-blue .main-header .navbar .nav>li>a:active,
.skin-blue .main-header .navbar .nav>li>a:focus,
.skin-blue .main-header .navbar .nav .open>a,
.skin-blue .main-header .navbar .nav .open>a:hover,
.skin-blue .main-header .navbar .nav .open>a:focus,
.skin-blue .main-header .navbar .nav>.active>a {
    background: white !important;
}

@media (max-width: 825px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-static-top {
        top: 0;
        border-width: 0 0 1px;
    }
    #settingsDropdown>li>a {
        color: #3c8dbc !important;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

.menu-open {
    display: block !important;
}

.settingsLinkInDropdown {
    padding: 12px 5px 12px 70px !important;
}

#doctorNameLink:hover {
    background-color: #222d32 !important;
    color: #3c8dbc !important;
}

#logoutLinkInWebPage:hover {
    background-color: white;
    color: #3c8dbc;
}

.navbar-default {
    background-image: none !important;
    background-color: #367fa9 !important;
}

@media only screen and (max-width: 990px) {
    .sectionsInNavBar {
        display: block !important;
    }
    #onMinimizeNav {
        display: block !important;
    }
    #fullPageView {
        display: none !important;
    }
}
