<div ng-controller="bedController as bed">
    <h4>Add Bed</h4>
    <button ng-click="bed.clearAllVars()" class="btn mainAdminBtn" data-toggle="modal" data-target="#addBedModal">Add New</button>
    <div id="addBedModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Bed</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputBedNumber">Bed Number</label>
                                    <input ng-change="bed.validateBedNumber()" ng-model="bed.addNew.bedNo" type="text" class="form-control" id="exampleInputBedNumber" placeholder="Bed Number">
                                    <span ng-if="bed.enterBedErrorMessage" class="errorMessagesInModal">Please Enter Bed Number</span>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputBedStatus">Bed Status</label>
                                    <br>
                                    <select class="form-control" ng-model="bed.addNew.bedStatus">
                                        <option>VACANT</option>
                                        <option>OCCUPIED</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputRoomNumber">Room Number</label>
                                    <div id='drpBtnDivAdminBed' class="dropdown">
                                        <button style="border-color:#d2d6de;" id="drpBtnBedDoctor" class="btn dropdown-toggle" type="button" data-toggle="dropdown">{{bed.roomNumber}}
                                            <span id="caretInBed" class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li ng-click="bed.selectRoomNumber(bedEntity)" ng-repeat="bedEntity in bed.roomsInBedToDisplay">
                                                <a ng-bind='bedEntity.roomNo' style='cursor:pointer;'></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span ng-if="bed.selectRoomNumberErrorMessage" class="errorMessagesInModal">Please Select Room Number</span>
                                </div>
                                <div class="form-inline">
                                    <button ng-click="bed.addNewBed()" class="btn mainAdminBtn">Save</button>
                                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group">
        <input style="margin-top:8px;" type="search" ng-change="bed.searchTheBed()" ng-model="bed.bedSearchInTxtBox" class="form-control searchInMainAdmin pull-right" placeholder="Search">
        <!-- <span class="input-group-btn">
            <button type="submit" class="btn mainAdminBtn searchBtnInMainAdmin"><span class="glyphicon glyphiconSearch glyphicon-search"></span></button>
        </span> -->
    </div>
    <table class="table mainAdminTable table-hover table-striped">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Bed Number</th>
                <th>Room Number</th>
                <th>Room Type</th>
                <th>Bed Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='unitBed in bed.bedsToBeDisplayedInTable'>
                <td ng-bind="$index+1"></td>
                <td ng-bind="unitBed.bedNo"></td>
                <td ng-bind="unitBed.organizationRoom.roomNo"></td>
                <td ng-bind="unitBed.organizationRoomCategory.roomType"></td>
                <td ng-bind="unitBed.bedStatus | lowercase"></td>
                <td>
                    <a data-toggle="modal" ng-click="bed.editBedDetails(unitBed,$index)" data-target="#addBedModal" class="linksInTable mainAdminLinks">Edit</a> |
                    <a ng-click="bed.deleteBed(unitBed,$index)" class="linksInTable mainAdminLinks">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <uib-pagination class="pull-right" items-per-page="bed.itemsPerPage" ng-change="bed.pageChanged()" total-items="bed.totalItems" ng-model="bed.currentPage"></uib-pagination>
</div>
