<div ng-controller="roomController as room">
    <h4>Add Room</h4>
    <button class="btn mainAdminBtn" data-toggle="modal" data-target="#addRoomModal">Add New</button>
    <div id="addRoomModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Room</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputRoomCategory">Room Category</label>
                                    <br>
                                    <div id="drpBtnDivAdmin" class="dropdown">
                                        <button style="border-color:#d2d6de;" id="drpBtnRoom" class="btn roomCategoryBtn dropdown-toggle" type="button" data-toggle="dropdown">{{room.roomType}}
                                            <span id="caretInCategory" class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li ng-click="room.categorySelect(roomCategory)" ng-repeat="roomCategory in room.roomCategories">
                                                <a style="cursor:pointer;" ng-bind="roomCategory.roomType"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputRoomName">Room No./Name</label>
                                    <input ng-model="room.addNewRoom.roomNo" type="text" class="form-control" id="exampleInputRoomName" placeholder="Room No./Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFloor">Floor</label>
                                    <select ng-model="room.addNewRoom.floorNo" class="form-control" id="exampleInputFloor">
                                        <option>1st Floor</option>
                                        <option>2nd Floor</option>
                                        <option>3rd Floor</option>
                                        <option>4th Floor</option>
                                        <option>5th Floor</option>
                                    </select>
                                    <!-- <input ng-model="room.addNewRoom.floorNo" type="text" class="form-control" id="exampleInputFloor" placeholder="Floor"> -->
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputRoomRate">Room Rate</label>
                                    <input type="text" ng-model="room.addNewRoom.roomRate" class="form-control" id="exampleInputRoomRate" placeholder="Room Rate">
                                </div>
                                <!-- <div class="form-group">
                                    <label for="exampleInputBedCount">Bed Count</label>
                                    <input type="text" ng-model="room.addNewRoom.bedCount" class="form-control" id="exampleInputBedCount" placeholder="Bed Count">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputMaxBedCount">Maximum Bed Count</label>
                                    <input type="text" ng-model="room.addNewRoom.maxBedCount" class="form-control" id="exampleInputMaxBedCount" placeholder="Max Bed Count">
                                </div> -->
                                <div class="form-inline">
                                    <button ng-click="room.addNewRoomFunction()" class="btn mainAdminBtn" data-dismiss="modal">Save</button>
                                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group">
        <input style="margin-top:8px;" type="search" ng-model="room.inputItemSearch" class="form-control searchInMainAdmin pull-right" ng-change="room.roomSearch()" placeholder="Search">
        <!-- <span ng-click="room.roomSearch()" class="input-group-btn">
            <button type="submit" class="btn mainAdminBtn searchBtnInMainAdmin"><span class="glyphicon glyphiconSearch glyphicon-search"></span></button>
        </span> -->
    </div>
    <table class="table mainAdminTable table-hover table-striped">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Room No/Name</th>
                <!-- <th>Total Beds</th> -->
                <th>Floor</th>
                <th>Room Type Name</th>
                <th>Room Cost</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="roomEntity in room.roomsList">
                <td ng-bind="$index+1"></td>
                <td ng-bind="roomEntity.roomNo"></td>
                <!-- <td ng-bind="roomEntity.bedCount"></td> -->
                <td ng-bind="roomEntity.floorNo"></td>
                <td ng-bind="roomEntity.organizationRoomCategory.roomType"></td>
                <td ng-bind="roomEntity.roomRate/100"></td>
                <td>
                    <a ng-click="room.editRoom(roomEntity,$index)" class="linksInTable mainAdminLinks" data-toggle="modal" data-target="#addRoomModal">Edit</a> |
                    <a ng-click="room.deleteRoom(roomEntity,$index)" class="linksInTable mainAdminLinks">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <uib-pagination class="pull-right" items-per-page="room.itemsPerPage" ng-change="room.pageChanged()" total-items="room.totalItems" ng-model="room.currentPage"></uib-pagination>
</div>
