<div ng-controller="dischargeSummaryController as dischargeSummary">
    <ul class="nav nav-tabs">
        <li class="active"><a>Discharge Summary</a></li>
    </ul>
    <div class="tab">
        <div id="contentOfSummaryTab" class="tab-content activeTabContent">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td width="21%" valign="top">Reasons for Admission</td>
                        <td width="79%">
                            <textarea ng-model="dischargeSummary.request.reasons" name="reasons" id="reasons" class="form-control input-sm" style="width:60%;" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">Condition Upon Discharge</td>
                        <td>
                            <select tooltip-popup-close-delay='1000' tooltip-placement="bottom" tooltip-is-open="dischargeSummary.categoryToolTip" tooltip-trigger="dischargeSummary.categoryToolTip" uib-tooltip="Please fill out this field." name="condition" id="condition" class="form-control input-sm" style="width:60%;">
                                <option value="condition">-Condition Upon Discharge-</option>
                                <option value="improved">Improved</option>
                                <option value="recovered">Recovered</option>
                                <option value="expired">Expired</option>
                                <option value="transferred">Transfered</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">Admitting Impression</td>
                        <td>
                            <textarea ng-model="dischargeSummary.request.admittingImpression" name="admittingImpression" id="admittingImpression" class="form-control input-sm" style="width:60%;" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">Final Diagnosis</td>
                        <td>
                            <textarea ng-model="dischargeSummary.request.finalDiagnosis" name="finalDiagnosis" id="finalDiagnosis" class="form-control input-sm" style="width:60%;" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">Clinical Findings</td>
                        <td>
                            <textarea ng-modal="dischargeSummary.request.clinicalFindings" name="clinicalFindings" id="clinicalFindings" class="form-control input-sm" style="width:60%;" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">Course in the Ward</td>
                        <td>
                            <textarea ng-modal="dischargeSummary.request.courseInTheWard" name="courseInTheWard" id="courseInTheWard" class="form-control input-sm" style="width:60%;" rows="3"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="" ng-if="patientMedication && dischargeSummary.getData();"></a>
            <button ng-click="dischargeSummary.saveDischargeSummary()" class="btn mainAdminBtn">Save</button>
        </div>
    </div>
</div>
