<!-- <<<<<<<<<<<<<<<<<<<<< HTML PAGE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<form>
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="dropdown">
                                <button style="font-weight:700;" id="sectionNameBtn" type="button" data-toggle="dropdown" class="btn dropdown-toggle docDropdownInInpatient roomDropdowns roomTypeDropdown">{{addTemplate.sectionNameToDisplay}}
                                    <span class="caret" id="sectionNameCaret"></span></button>
                                <ul id="sectionNameDropDown" class="dropdown-menu">
                                    <li ng-click="addTemplate.selectSectionName(sectionEntity)" ng-repeat="sectionEntity in addTemplate.sectionNamesList">
                                        <a class="doctorsListInBill" ng-bind="sectionEntity.sectionName"></a>
                                    </li>
                                </ul>
                                <span ng-click="addTemplate.changeSectionDetails()" ng-if="addTemplate.editSectionDetails"><a class="doctorsListInBill">Edit Fields</a></span>
                                <!-- <span><a class="doctorsListInBill">Edit Section Name</a></span> -->
                            </div>
                        </div>
                    </form>
                    <div ng-if="addTemplate.sectionNameDiv" class="form-group">
                        <label for="exampleInputSectionName">*Section Name</label>
                        <input ng-model="addTemplate.sectionName" type="text" class="form-control" id="exampleInputSectionName" placeholder="Section Name">
                    </div>
                    <div ng-if="addTemplate.newFieldName" class="form-group">
                        <label for="exampleInputFieldName">*New Field Name</label>
                        <input ng-model="addTemplate.fieldName" type="text" class="form-control" id="exampleInputFieldName" placeholder="Field Name">
                    </div>
                    <div ng-if="addTemplate.newFieldHeaderName" class="form-group">
                        <label for="exampleInputFieldHeaderName">*New Field Header Name</label>
                        <input ng-model="addTemplate.fieldHeaderName" type="text" class="form-control" id="exampleInputFieldHeaderName" placeholder="New Field Header Name">
                    </div>
                    <div ng-if="addTemplate.fieldTypeDiv" class="form-group">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="dropdown">
                                    <button id="fieldTypeBtn" style="font-weight:700;" class="btn dropdown-toggle docDropdownInInpatient roomDropdowns roomTypeDropdown" type="button" data-toggle="dropdown">{{addTemplate.fieldType}}
                                        <span class="caret" id="fieldTypeCaret"></span></button>
                                    <ul id="fieldTypeDropDown" class="dropdown-menu">
                                        <li ng-click="addTemplate.selectFieldType(fieldTypeEntity)" ng-repeat="fieldTypeEntity in addTemplate.fieldTypesList">
                                            <a class="doctorsListInBill" ng-bind="fieldTypeEntity.fieldName"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-if="addTemplate.labelsDropdownDiv" class="form-group">
                        <label for="exampleLabels">Select Label From Dropdown</label>
                        <div class="dropdown">
                            <button id="labelBtn" style="font-weight:700;" class="btn dropdown-toggle docDropdownInInpatient roomDropdowns roomTypeDropdown" type="button" data-toggle="dropdown">{{addTemplate.activeLabelName}}<span class="caret" id="labelCaret"></span></button>
                            <ul id="labelDropdownDiv" class="dropdown-menu">
                                <li ng-click="addTemplate.editFieldNames(labelEntity)" ng-repeat="labelEntity in addTemplate.actveSectionLabels">
                                    <a class="doctorsListInBill" ng-bind="labelEntity.name"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="addTemplate.selectedLabelName" class="form-group">
                        <label for="exampleSelectedLabel">Selected Label Name</label>
                        <input ng-model="addTemplate.labelNameToEdit" type="text" class="form-control" id="exampleSelectedLabel" placeholder="Selected Label Name">
                    </div>
                    <div ng-if="addTemplate.selectedLabelHeaderField" class="form-group">
                        <label for="exampleSelectedLabelHeader">Selected Label Header Name</label>
                        <input ng-model="addTemplate.labelHeaderToEdit" type="text" class="form-control" id="exampleSelectedLabelHeader" placeholder="Selected Label Header Name">
                    </div>
                    <div ng-if="addTemplate.showDropdownDiv" class="form-group">
                        <!-- <form class="form-inline"> -->
                        <!-- <div class="form-group">
                                <input ng-model="addTemplate.newDropdownFieldText" type="text" class="form-control" id="exampleInputName2" placeholder="Add Dropdown Fields">
                            </div>
                            <button ng-click="addTemplate.addNewDropdownField()" type="submit" class="btn addPatientBtn buttonsInInpatientModal">Add</button> -->
                        <!--  <div style="width:100%;" class="form-group"> -->
                        <textarea ng-model="addTemplate.addedFieldsForDropdown" id="dropdownAddedFieldsTextArea" class="form-control" columns="5" rows="3" placeholder="Added Fields(Add Fields seperating with ,)"></textarea>
                        <!--  </div> -->
                        <!--  </form> -->
                    </div>
                    <!-- <div class="form-group">
                        <label for="exampleSectionTableFields">Section Table Header Fields:</label>
                        <form class="form-inline">
                            <div class="form-group">
                                <input ng-model="addTemplate.tableHeaderFields" type="text" class="form-control" id="exampleInputTableHeaderFields" placeholder="Table Header Fields">
                                <button ng-click="addTemplate.addHeaderFields()" type="submit" class="btn addPatientBtn buttonsInInpatientModal">Add</button>
                                <div class="form-group">
                                    <textarea ng-model="addTemplate.addedTableHeaderFields" id="addedHeaderTextArea" class="form-control" rows="3" placeholder="Added Header Fields"></textarea>
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <button type="submit" ng-click="addTemplate.addField()" class="btn addPatientBtn buttonsInInpatientModal">Save</button>
                </form>


<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-CONTROLLERS->>>>>>>>>>>>>>>>>>>>>>>>> -->  
function controller(){  
	var selectFieldTypeString = '---Select Field Type---';
    addTemplate.fieldType = "---Select Field Type---";
    addTemplate.fieldTypesList = [{ 'fieldName': '---Select Field Type---' }, { 'fieldName': 'TEXTBOX' }, { 'fieldName': 'CHECKBOX' }, { 'fieldName': 'DROPDOWN' }, { 'fieldName': 'TEXTAREA' }, { 'fieldName': 'BUTTON' }]
    addTemplate.sectionName = '';
    addTemplate.fieldName = '';
    var sectionActive = {};
    var sectionActiveObjects = [];
    addTemplate.fieldHeaderName = '';
    addTemplate.labelNameToEdit = '';
    var editFieldFlag = false;
    addTemplate.selectedLabelHeaderField = false;
    addTemplate.selectedLabelName = false;
    addTemplate.labelsDropdownDiv = false;
    addTemplate.editSectionDetails = false;
    addTemplate.sectionNameDiv = false;
    addTemplate.showDropdownDiv = false;
    addTemplate.newFieldName = true;
    addTemplate.newFieldHeaderName = true;
    addTemplate.fieldTypeDiv = true;
    addTemplate.selectFieldType = selectFieldType;
    addTemplate.addField = addField;
    addTemplate.editFieldNames = editFieldNames;
    addTemplate.addNewDropdownField = addNewDropdownField;
    addTemplate.selectSectionName = selectSectionName;
    addTemplate.addHeaderFields = addHeaderFields;
    addTemplate.changeSectionDetails = changeSectionDetails;
    var selectedFieldTypeIs = '';
    addTemplate.addedFieldsForDropdown = '';
    addTemplate.addedTableHeaderFields = '';
    addTemplate.tableHeaderFields = '';
    addTemplate.sectionNamesList = [];
    addTemplate.sectionObjectsList = [];
    addTemplate.actveSectionLabels = [];
    var activeTemplatesOnLoad = [];
    var activeEditTemplateObject = {};
    var activeLabelObject = { 'name': '---Select Label Name---', 'templateId': '' };
    addTemplate.activeLabelName = '---Select Label Name---';
    var initialSectionName = '---Select Section Name---';
    addTemplate.sectionNameToDisplay = '---Select Section Name---';
    var sectionNameObject = { 'sectionName': '---Select Section Name---' };
    var newSectionObject = { 'sectionName': 'New Section' };

    var organizationId = localStorage.getItem('orgId');

    var getTemplatesPromise = dboticaServices.getAllTemplates(organizationId, 'template', true);
    $log.log('templates promise is-------', getTemplatesPromise);
    getTemplatesPromise.then(function(getTemplatesSuccess) {
        var errorCode = getTemplatesSuccess.data.errorCode;
        if (errorCode) {
            dboticaServices.logoutFromThePage(errorCode);
        } else {
            var getTemplatesResponse = angular.fromJson(getTemplatesSuccess.data.response);
            $log.log('templates Response is--------', getTemplatesResponse);
            var activeTemplates = [];
            activeTemplates = _.filter(getTemplatesResponse, function(getEntity) {
                return getEntity.state == 'ACTIVE' && getEntity.visibility == 'ACTIVE';
            });
            angular.copy(activeTemplates, activeTemplatesOnLoad);
            if (errorCode == null && getTemplatesSuccess.data.success) {
                angular.forEach(activeTemplates, function(templateEntity) {
                    templateEntity.templateFields[0].templateId = templateEntity.id;
                    addTemplate.sectionObjectsList.push(templateEntity.templateFields[0]);
                });
                $log.log('objects list is--------', addTemplate.sectionObjectsList);
                angular.forEach(addTemplate.sectionObjectsList, function(objectEntity) {
                    addTemplate.sectionNamesList.push(objectEntity);
                });
                addTemplate.sectionNamesList = _.uniqBy(addTemplate.sectionNamesList, 'sectionName');
                addTemplate.sectionNamesList.unshift(sectionNameObject);
                addTemplate.sectionNamesList.push(newSectionObject);
                $log.log('section names are-----', addTemplate.sectionNamesList);
            }
        }
    }, function(getTemplatesError) {
        dboticaServices.noConnectivityError();
    });

    function selectFieldType(fieldTypeEntity) {
        addTemplate.fieldType = fieldTypeEntity.fieldName;
        switch (addTemplate.fieldType) {
            case 'TEXTBOX':
                selectedFieldTypeIs = 'TEXT_BOX';
                addTemplate.showDropdownDiv = false;
                break;
            case 'CHECKBOX':
                selectedFieldTypeIs = 'CHECK_BOX';
                addTemplate.showDropdownDiv = true;
                break;
            case 'DROPDOWN':
                selectedFieldTypeIs = 'DROPDOWN';
                addTemplate.showDropdownDiv = true;
                break;
            case 'TEXTAREA':
                selectedFieldTypeIs = 'TEXT_AREA';
                addTemplate.showDropdownDiv = false;
                break;
            case 'BUTTON':
                selectedFieldTypeIs = 'BUTTON';
                addTemplate.showDropdownDiv = false;
                break;
            case '---Select Field Type---':
                addTemplate.showDropdownDiv = false;
                break;
        }
    }

    function addField() {
        $log.log('field is----', addTemplate.sectionName);
        if (!editFieldFlag) {
            if (addTemplate.sectionName !== '' && addTemplate.sectionName !== initialSectionName && addTemplate.fieldName !== '' && addTemplate.fieldType !== selectFieldTypeString && addTemplate.fieldHeaderName !== '') {
                var addFieldRequestEntity = {};
                addFieldRequestEntity.organizationId = organizationId;
                addFieldRequestEntity.name = 'template';
                addFieldRequestEntity.permissions = ['NURSE'];
                addFieldRequestEntity.visibility = 'ACTIVE';
                addFieldRequestEntity.templateFields = [];
                var templateFieldObject = {};
                templateFieldObject.tableHeaders = [];
                templateFieldObject.headerFieldName = addTemplate.fieldHeaderName;
                templateFieldObject.fieldType = selectedFieldTypeIs;
                templateFieldObject.fieldState = 'ACTIVE';
                templateFieldObject.mandatory = true;
                templateFieldObject.minValue = '';
                templateFieldObject.maxValue = '';
                if (selectedFieldTypeIs == 'TEXT_BOX' || selectedFieldTypeIs == 'BUTTON' || selectedFieldTypeIs == 'TEXT_AREA') {
                    templateFieldObject.restrictValues = [];
                    templateFieldObject.description = '';
                }
                if (selectedFieldTypeIs == 'DROPDOWN') {
                    var dropdownFields = [];
                    templateFieldObject.restrictValues = [];
                    dropdownFields = _.split(addTemplate.addedFieldsForDropdown, ',');
                    templateFieldObject.description = dropdownFields[0];
                    angular.forEach(dropdownFields, function(dropdownEntity) {
                        var localFieldObject = {};
                        localFieldObject.name = dropdownEntity;
                        localFieldObject.value = dropdownEntity;
                        templateFieldObject.restrictValues.push(localFieldObject);
                    });
                }
                if (selectedFieldTypeIs == 'CHECK_BOX') {
                    var checkboxFields = [];
                    templateFieldObject.restrictValues = [];
                    templateFieldObject.description = '';
                    checkBoxFields = _.split(addTemplate.addedFieldsForDropdown, ',');
                    angular.forEach(checkBoxFields, function(checkBoxEntity) {
                        var localCheckObject = {};
                        localCheckObject.name = checkBoxEntity;
                        localCheckObject.checkBoxValue = false;
                        templateFieldObject.restrictValues.push(localCheckObject);
                    });
                }
                templateFieldObject.name = addTemplate.fieldName;
                templateFieldObject.sectionName = addTemplate.sectionName;
                addFieldRequestEntity.templateFields.push(templateFieldObject);
                $log.log('req is----', addFieldRequestEntity);
                var addFieldPromise = dboticaServices.addFieldRequest(addFieldRequestEntity);
                $log.log('promise is------', addFieldPromise);
                addFieldPromise.then(function(addNewFieldSuccess) {
                    var errorCode = addNewFieldSuccess.data.errorCode;
                    if (errorCode) {
                        dboticaServices.logoutFromThePage(errorCode);
                    } else {
                        var addFieldResponse = angular.fromJson(addNewFieldSuccess.data.response);
                        $log.log('new field response is----', addFieldResponse);
                    }
                }, function(addNewFieldError) {
                    dboticaServices.noConnectivityError();
                });
            } else {
                dboticaServices.templateMandatoryFieldsSwal();
            }
        } else {
            $log.log('in edit section fields----');
            var editIndex = _.findLastIndex(activeTemplatesOnLoad, function(templateLoadEntity) {
                return templateLoadEntity.id == activeEditTemplateObject.templateId;
            });
            var templateToEdit = activeTemplatesOnLoad[editIndex];
            $log.log('edit req object is---------', templateToEdit);
            templateToEdit.templateFields[0].name = addTemplate.labelNameToEdit;
            templateToEdit.templateFields[0].headerFieldName = addTemplate.labelHeaderToEdit;
            if (templateToEdit.templateFields[0].fieldType == 'DROPDOWN') {
                var dropdownFields = [];
                templateToEdit.templateFields[0].restrictValues = [];
                dropdownFields = _.split(addTemplate.addedFieldsForDropdown, ',');
                templateToEdit.templateFields[0].description = dropdownFields[0];
                angular.forEach(dropdownFields, function(dropdownEntity) {
                    var localFieldObject = {};
                    localFieldObject.name = dropdownEntity;
                    localFieldObject.value = dropdownEntity;
                    templateToEdit.templateFields[0].restrictValues.push(localFieldObject);
                });
            }
            if (templateToEdit.templateFields[0].fieldType == 'CHECK_BOX') {
                var checkboxFields = [];
                templateToEdit.templateFields[0].restrictValues = [];
                templateToEdit.templateFields[0].description = '';
                checkBoxFields = _.split(addTemplate.addedFieldsForDropdown, ',');
                angular.forEach(checkBoxFields, function(checkBoxEntity) {
                    var localCheckObject = {};
                    localCheckObject.name = checkBoxEntity;
                    localCheckObject.checkBoxValue = false;
                    templateToEdit.templateFields[0].restrictValues.push(localCheckObject);
                });
            }
            $log.log('edit request entity is------', templateToEdit);
            var editFieldPromise = dboticaServices.addFieldRequest(templateToEdit);
            $log.log('edit promise is----', editFieldPromise);
            editFieldPromise.then(function(editFieldSuccess) {
                var errorCode = editFieldSuccess.data.errorCode;
                if (errorCode) {
                    dboticaServices.logoutFromThePage(errorCode);
                } else {
                    var editFieldResponse = angular.fromJson(editFieldSuccess.data.response);
                    $log.log('edit response is------', editFieldResponse);
                    if (errorCode == null && editFieldSuccess.data.success) {
                        dboticaServices.fieldDetailsUpdateSuccessSwal();
                        addTemplate.labelNameToEdit = '';
                        addTemplate.addedFieldsForDropdown = '';
                        addTemplate.labelHeaderToEdit = '';
                        addTemplate.showDropdownDiv = false;
                        addTemplate.activeLabelName = '---Select Label Name---';
                        angular.forEach(addTemplate.actveSectionLabels, function(sectionLabel) {
                            if (sectionLabel.templateId == editFieldResponse.id) {
                                sectionLabel.name = editFieldResponse.templateFields[0].name;
                                angular.copy(editFieldResponse.templateFields[0].restrictValues, sectionLabel.restrictValues);
                            }
                        });
                    }
                }
            }, function(editFieldError) {
                dboticaServices.noConnectivityError();
            });
        }
    }

    function addNewDropdownField() {
        if (addTemplate.addedFieldsForDropdown == '') {
            addTemplate.addedFieldsForDropdown += addTemplate.newDropdownFieldText;
            addTemplate.newDropdownFieldText = '';
        } else {
            addTemplate.addedFieldsForDropdown += ',';
            addTemplate.addedFieldsForDropdown += addTemplate.newDropdownFieldText;
            addTemplate.newDropdownFieldText = '';
        }
    }

    function selectSectionName(sectionEntity) {
        editFieldFlag = false;
        activeEditTemplateObject = {};
        addTemplate.sectionNameToDisplay = sectionEntity.sectionName;
        if (sectionEntity.sectionName == 'New Section') {
            addTemplate.editSectionDetails = false;
            addTemplate.sectionNameDiv = true;
            addTemplate.sectionNameToDisplay = 'New Section';
            addTemplate.sectionName = '';
            sectionActive = {};
            addTemplate.newFieldHeaderName = true;
            addTemplate.newFieldName = true;
            addTemplate.fieldTypeDiv = true;
            addTemplate.labelsDropdownDiv = false;
        } else {
            if (sectionEntity.sectionName == '---Select Section Name---') {
                addTemplate.editSectionDetails = false;
                addTemplate.sectionNameDiv = false;
                sectionActive = {};
                addTemplate.labelsDropdownDiv = false;
                addTemplate.selectedLabelName = false;
                addTemplate.selectedLabelHeaderField = false;
                addTemplate.newFieldHeaderName = true;
                addTemplate.newFieldName = true;
                addTemplate.fieldTypeDiv = true;
            } else {
                angular.copy(sectionEntity, sectionActive);
                var emptyObject = {};
                angular.copy(emptyObject, sectionActiveObjects);
                $log.log('section active is------', sectionActive);
                addTemplate.activeLabelName = '---Select Label Name---';
                addTemplate.editSectionDetails = true;
                addTemplate.newFieldName = true;
                addTemplate.newFieldHeaderName = true;
                addTemplate.fieldTypeDiv = true;
                addTemplate.labelsDropdownDiv = false;
                addTemplate.selectedLabelName = false;
                addTemplate.selectedLabelHeaderField = false;
                angular.forEach(addTemplate.sectionObjectsList, function(objectEntity, key, value) {
                    if (objectEntity.sectionName == sectionActive.sectionName) {
                        sectionActiveObjects.push(objectEntity);
                    }
                });
                sectionActiveObjects.unshift(activeLabelObject);
                $log.log('section active objects are---', sectionActiveObjects);
            }
            addTemplate.sectionName = sectionEntity.sectionName;
            addTemplate.sectionNameDiv = false;
        }
    }

    function addHeaderFields() {
        if (addTemplate.addedTableHeaderFields == '') {
            addTemplate.addedTableHeaderFields += addTemplate.tableHeaderFields;
            addTemplate.tableHeaderFields = '';
        } else {
            addTemplate.addedTableHeaderFields += ',';
            addTemplate.addedTableHeaderFields += addTemplate.tableHeaderFields;
            addTemplate.tableHeaderFields = '';
        }
    }

    function changeSectionDetails() {
        addTemplate.sectionNameDiv = false;
        addTemplate.newFieldName = false;
        addTemplate.newFieldHeaderName = false;
        addTemplate.fieldTypeDiv = false;
        addTemplate.labelsDropdownDiv = true;
        addTemplate.selectedLabelName = false;
        addTemplate.selectedLabelHeaderField = false;
        editFieldFlag = true;
        addTemplate.showDropdownDiv = false;
        angular.copy(sectionActiveObjects, addTemplate.actveSectionLabels);
    }

    function editFieldNames(editFieldEntity) {
        $log.log('field to edit is------', editFieldEntity);
        addTemplate.activeLabelName = editFieldEntity.name;
        if (editFieldEntity.name !== '---Select Label Name---') {
            angular.copy(editFieldEntity, activeEditTemplateObject);
            addTemplate.selectedLabelName = true;
            addTemplate.selectedLabelHeaderField = true;
            addTemplate.labelHeaderToEdit = editFieldEntity.headerFieldName;
            addTemplate.labelNameToEdit = editFieldEntity.name;
            addTemplate.addedFieldsForDropdown = '';
            if (editFieldEntity.fieldType == 'DROPDOWN' || editFieldEntity.fieldType == 'CHECK_BOX') {
                addTemplate.showDropdownDiv = true;
                var localDropdownValuesArray = [];
                angular.forEach(editFieldEntity.restrictValues, function(restrict) {
                    if (editFieldEntity.fieldType == 'DROPDOWN') {
                        localDropdownValuesArray.push(restrict.value);
                    } else {
                        localDropdownValuesArray.push(restrict.name);
                    }
                });
                addTemplate.addedFieldsForDropdown = _.join(localDropdownValuesArray, ',');
            }
        } else {
            activeEditTemplateObject = {};
            addTemplate.showDropdownDiv = false;
            addTemplate.selectedLabelHeaderField = false;
            addTemplate.selectedLabelName = false;
        }

    }            
}

<<<<<<<<<<<<<<<<<< nurse>>>>>>>>>>>>>>>>>>>>>>>

<div class="row">
                <a></a>
                <div class="col-md-12 col-sm-12 col-xs-12" ng-init="sectionIndex=$index" ng-repeat="entity in detail.formsList track by $index">
                    <div ng-repeat="formEntity in entity">
                        <button style="margin-top:10px;" ng-if="$index==0" class="btn mainAdminBtn" data-toggle="modal" data-target="#addPatientDetails{{sectionIndex}}">{{formEntity.sectionName}}</button>
                        <table ng-if="$index==0" class="table mainAdminTable table-hover table-striped">
                            <thead>
                                <tr>
                                    <th ng-repeat="headerEntity in formEntity.tableHeaders" ng-bind="headerEntity.headerField"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-if="patientMedication && detail.getData();">
                                <tr ng-repeat="detailEntity in detail.templateEventsList track by $index">
                                    <td ng-if="displayEntity.nameOfSection==formEntity.sectionName" ng-repeat="displayEntity in detailEntity.referenceDetails.detailsArray track by $index" ng-bind="displayEntity.displayField"></td>
                                    <a href="">{{displayEntity.displayField}}</a>
                                </tr>
                            </tbody>
                            <tbody></tbody>
                        </table>
                        <div id="addPatientDetails{{sectionIndex}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 ng-if="$index==0" ng-bind="formEntity.sectionName"></h4>
                                    </div>
                                    <div class="modal-body">
                                        <div ng-repeat="modalEntity in entity">
                                            <div ng-if="modalEntity.fieldState=='ACTIVE' && modalEntity.fieldType=='TEXT_BOX'" class="form-group">
                                                <label ng-bind="modalEntity.name"></label>
                                                <input type="text" class="form-control" name="text" ng-model="modalEntity.description">
                                            </div>
                                            <div ng-if="modalEntity.fieldState=='ACTIVE' && modalEntity.fieldType=='DROPDOWN'" class="form-group">
                                                <label ng-bind="modalEntity.name"></label>
                                                <select class="selectBoxesInNurse" ng-model="modalEntity.description" ng-options="template.value as template.name for template in modalEntity.restrictValues"></select>
                                            </div>
                                            <div ng-if="modalEntity.fieldState=='ACTIVE' && modalEntity.fieldType=='CHECK_BOX'" class="form-group">
                                                <label ng-bind="modalEntity.name"></label>
                                                <div class="row">
                                                    <div ng-repeat="restrictValue in modalEntity.restrictValues" class="col-md-3 col-sm-3 col-xs-3">
                                                        <label class="checkbox-inline">
                                                            <input ng-click="detail.selectCheckBox(restrictValue)" ng-checked="restrictValue.checkBoxValue" type="checkbox">{{restrictValue.name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="modalEntity.fieldState=='ACTIVE' && modalEntity.fieldType=='TEXT_AREA'" class="form-group">
                                                <label ng-bind="modalEntity.name"></label>
                                                <textarea ng-model="modalEntity.description" class="form-control" rows="2"></textarea>
                                            </div>
                                            <div ng-if="modalEntity.fieldState=='ACTIVE' && modalEntity.fieldType=='BUTTON'">
                                                <button ng-click="detail.submitDetails(entity,sectionIndex)" class="btn addPatientBtn buttonsInInpatientModal">{{modalEntity.name}}</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<<<<<<<<<<<<<<<<<< nurse controller >>>>>>>>>>>>>>>>>>>>>>>

detail.submitDetails = submitDetails;
    detail.selectCheckBox = selectCheckBox;
    detail.getData = getData;
    var organizationId = localStorage.getItem('orgId');

    detail.formsList = [];
    var activeTemplatesList = [];
    var localActiveTemplatesList = [];
    var localSortedTemplatesList = [];
    var localSortedObjects = [];
    var templatePatientDetailsListSetter = [];
    detail.templateEventsList = [];
    detail.patient = {};

    var getTemplatesPromise = dboticaServices.getAllTemplates(organizationId, 'template', true);
    $log.log('get templates promise-----', getTemplatesPromise);
    getTemplatesPromise.then(function(getTemplatesSuccess) {
        var errorCode = getTemplatesSuccess.data.errorCode;
        if (errorCode) {
            dboticaServices.logoutFromThePage(errorCode);
        } else {
            var getTemplatesResponse = angular.fromJson(getTemplatesSuccess.data.response);
            $log.log('get templates response is---------', getTemplatesResponse);
            activeTemplatesList = _.filter(getTemplatesResponse, function(templateEntity) {
                return templateEntity.state == 'ACTIVE' && templateEntity.visibility == 'ACTIVE';
            });
            angular.copy(activeTemplatesList, localActiveTemplatesList);
            angular.forEach(localActiveTemplatesList, function(activeTemplateEntity, key, value) {
                var localSortedArray = [];
                var localTemplatesArray = [];
                angular.forEach(activeTemplatesList, function(localActiveTemplateEntity) {
                    if (activeTemplateEntity.templateFields[0].sectionName == localActiveTemplateEntity.templateFields[0].sectionName) {
                        localActiveTemplateEntity.templateFields[0].createdTime = localActiveTemplateEntity.creationTime;
                        localSortedArray.push(localActiveTemplateEntity.templateFields[0]);
                        localSortedObjects.push(localActiveTemplateEntity);
                    }
                });
                angular.forEach(localSortedObjects, function(sortedEntity) {
                    angular.forEach(localActiveTemplatesList, function(templateEntity, localKey) {
                        if (sortedEntity.id == templateEntity.id) {
                            localActiveTemplatesList.splice(localKey, 1);
                        }
                    });
                });
                localSortedTemplatesList.push(localSortedArray);
            });
            angular.forEach(localSortedTemplatesList, function(sortTempEntity) {
                var buttonIndex = _.findLastIndex(sortTempEntity, function(buttonCheckEntity) {
                    return buttonCheckEntity.fieldType == 'BUTTON';
                });
                sortTempEntity[0].tableHeaders = [];
                angular.forEach(sortTempEntity, function(headerEntity) {
                    var localHeader = {};
                    if (headerEntity.headerFieldName !== 'Button') {
                        localHeader.headerField = headerEntity.headerFieldName;
                        sortTempEntity[0].tableHeaders.push(localHeader);
                    }
                });
                var maxTimeObject = _.maxBy(sortTempEntity, function(sortTimeEntity) {
                    return sortTimeEntity.createdTime;
                });
                var maxTimeIndex = _.findLastIndex(sortTempEntity, function(sortIndexEntity) {
                    return sortIndexEntity.createdTime == maxTimeObject.createdTime;
                });
                if (maxTimeIndex !== undefined && maxTimeIndex !== -1) {
                    sortTempEntity[maxTimeIndex].maxTimeFlag = true;
                }
                if (buttonIndex !== undefined && buttonIndex !== -1) {
                    var templateButtonObject = {};
                    angular.copy(sortTempEntity[buttonIndex], templateButtonObject);
                    sortTempEntity.splice(buttonIndex, 1);
                    sortTempEntity.push(templateButtonObject);
                }
            });
            angular.copy(localSortedTemplatesList, detail.formsList);
            $log.log('after sorting array is-----', localSortedTemplatesList);
        }
    }, function(getTemplatesError) {
        dboticaServices.noConnectivityError();
    });

    function getData() {
        detail.patient = dboticaServices.getPatientDetailsFromService();
        detail.templateEventsList = [];
        detail.templateEventsList = dboticaServices.getTemplatePatientDetails();
        $log.log('templates are---', detail.templateEventsList);
        if (detail.templateEventsList !== templatePatientDetailsListSetter) {
            angular.copy(detail.templateEventsList, templatePatientDetailsListSetter);
        }
        return true;
    }

    function submitDetails(submitEntity, index) {
        $log.log('in submit details');
        $log.log('first name is---', submitEntity);
        $log.log('inpatient is----', detail.patient);
        $log.log('patient is-----', detail.patient);
        var patientDetailsRequestEntity = {};
        if (!jQuery.isEmptyObject(detail.patient)) {
            patientDetailsRequestEntity.organizationId = organizationId;
            patientDetailsRequestEntity.patientId = detail.patient.id;
            patientDetailsRequestEntity.patientName = detail.patient.details.patientName;
            patientDetailsRequestEntity.patientPhoneNumber = detail.patient.phoneNumber;
            patientDetailsRequestEntity.patientEventType = 'PATIENT_DETAILS';
            var currentDate = new Date();
            patientDetailsRequestEntity.startTime = currentDate.getTime();
            patientDetailsRequestEntity.alertTime = '';
            patientDetailsRequestEntity.referenceId = '';
            var patientDetails = {};
            patientDetails.type = 'TEMPLATE_PATIENTDETAILS';
            patientDetails.sectionName = submitEntity[0].sectionName;
            patientDetails.detailsArray = [];
            angular.forEach(submitEntity, function(entity) {
                var localEntity = {};
                angular.copy(entity, localEntity);
                localEntity.name = dboticaServices.getDescription(localEntity.name);
                switch (localEntity.fieldType) {
                    case 'TEXT_BOX':
                    case 'DROPDOWN':
                    case 'TEXT_AREA':
                        var entity = {};
                        entity.nameOfSection = submitEntity[0].sectionName;
                        entity.headerNameToTag = localEntity.headerFieldName;
                        entity.displayField = localEntity.description;
                        patientDetails.detailsArray.push(entity);
                        break;
                    case 'CHECK_BOX':
                        var checkArray = [];
                        var checkEntity = {};
                        angular.forEach(entity.restrictValues, function(restrictIs) {
                            if (restrictIs.checkBoxValue) {
                                checkArray.push(restrictIs.name);
                            }
                        });
                        checkEntity.nameOfSection = submitEntity[0].sectionName;
                        checkEntity.headerNameToTag = localEntity.headerFieldName;
                        checkEntity.displayField = _.join(checkArray, ',');
                        patientDetails.detailsArray.push(checkEntity);
                        break;
                    case 'BUTTON':
                        var buttonEntity = {};
                        buttonEntity.nameOfSection = submitEntity[0].sectionName;
                        buttonEntity.displayField = '';
                        buttonEntity.headerNameToTag = localEntity.headerFieldName;
                        patientDetails.detailsArray.push(buttonEntity);
                        break;
                }
            });
            $log.log('patient details are-----', patientDetails);
            patientDetails = JSON.stringify(patientDetails);
            patientDetailsRequestEntity.referenceDetails = patientDetails;
            $log.log('request entity is---------', patientDetailsRequestEntity);
            var patientDetailsPromise = dboticaServices.patientEvent(patientDetailsRequestEntity);
            $log.log('patient details promise----', patientDetailsPromise);
            patientDetailsPromise.then(function(patientDetailsSuccess) {
                var errorCode = patientDetailsSuccess.data.errorCode;
                if (errorCode) {
                    dboticaServices.logoutFromThePage(errorCode);
                } else {
                    var patientDetailsResponse = angular.fromJson(patientDetailsSuccess.data.response);
                    $log.log('patient response is-----', patientDetailsResponse);
                    if (errorCode == null && patientDetailsSuccess.data.success) {
                        patientDetailsResponse.referenceDetails = angular.fromJson(patientDetailsResponse.referenceDetails);
                        detail.templateEventsList.unshift(patientDetailsResponse);
                        dboticaServices.setTemplatePatientDetails(detail.templateEventsList);
                        dboticaServices.templateDetailsSuccessSwal();
                        angular.element('#addPatientDetails' + index).modal('hide');
                    }
                }
            }, function(patientDetailsError) {
                dboticaServices.noConnectivityError();
            });
        } else {
            angular.element('#addPatientDetails' + index).modal('hide');
            dboticaServices.pleaseSelectPatientSwal();
        }
    }

    function selectCheckBox(checkBoxEntity) {
        checkBoxEntity.checkBoxValue = !checkBoxEntity.checkBoxValue;
        $log.log('in check box check----', checkBoxEntity.checkBoxValue);
    }



    /*detail.formsList = [{
        formName: [{
            display: true,
            name: 'First Name',
            modelName: 'first name'
        }, {
            displaySelectBox: true,
            name: 'select Name',
            selectBoxOptions: [
                { 'name': 'ravi', 'value': 'ravi' },
                { 'name': 'teja', 'value': 'teja' },
                { 'name': 'bhisetti', 'value': 'bhisetti' }
            ]
        }, {
            display: true,
            name: 'Address',
            modelName: 'last name'
        }, {
            displaySelectBox: true,
            name: 'Select Friend Name',
            selectBoxOptions: [
                { 'name': 'ramu', 'value': 'ramu' },
                { 'name': 'raju', 'value': 'raju' },
                { 'name': 'teju', 'value': 'teju' }
            ]
        }, {
            display: true,
            name: 'District',
            modelName: 'district'
        }, {
            displayButton: true,
            name: 'Save'
        }, {
            displayRadioButton: true,
            radioButtonName: 'ravi'
        }]
    }, {
        formName: [{
            display: true,
            name: 'Doctor Speciality',
            modelName: ''
        }, {
            displaySelectBox: true,
            name: 'Select Speciality',
            selectBoxOptions: [
                { 'name': 'Nephrology', 'value': 'Nephrology' },
                { 'name': 'Cardiology', 'value': 'Cardiology' },
                { 'name': 'Neurology', 'value': 'Neurology' }
            ]
        }, {
            display: true,
            name: 'Doctor Name',
            modelName: ''
        }, {
            displaySelectBox: true,
            name: 'Select Hospital',
            selectBoxOptions: [
                { 'name': 'Care', 'value': 'Care' },
                { 'name': 'Apollo', 'value': 'Apollo' },
                { 'name': 'KGH', 'value': 'KGH' }
            ]
        }, {
            display: true,
            name: 'Place',
            modelName: ''
        }, {
            displayButton: true,
            name: 'Save'
        }, {
            displayRadioButton: true,
            radioButtonName: 'ravi'
        }]

    }];*/

    /*detail.radiosList = [{
        displayRadioButton: true,
        radioButtonName: 'teja'
    }, {
        displayRadioButton: true,
        radioButtonName: 'bhisetti'
    }];*/


    /*angular.forEach(detail.formsList, function(formEntity) {
        angular.forEach(formEntity.formName, function(entity) {
            if (_.has(entity, 'displaySelectBox')) {
                if (entity.selectBoxOptions.length > 0) {
                    entity.config = entity.selectBoxOptions[0].value;
                }
            }
        });
    });*/                
            