<div ng-controller="insuranceController as insurance">
    <div class="container">
        <h4>Insurance</h4>
        <hr>
        <div class="registrationBody">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-10">
                    <form class="form-inline">
                        <div class="form-group">
                            <input ng-change="insurance.patientNumberValidation()" ng-model="insurance.patientPhoneNumber" class="form-control" type="text" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <button ng-disabled="insurance.disableSearchBtn" data-target="#registrationModal" data-toggle="modal" ng-click="insurance.patientSearch()" class="btn mainAdminBtn">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="registrationModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Patients List</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Patient Name</th>
                                        <th>Patient Number</th>
                                        <th>Case Number</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="patientEntity in insurance.patientsList track by $index">
                                        <td ng-bind="$index+1"></td>
                                        <td ng-bind="patientEntity.patientDetail.firstName"></td>
                                        <td ng-bind="patientEntity.organizationPatientNo"></td>
                                        <td ng-bind="patientEntity.organizationCaseNo"></td>
                                        <td>
                                            <a ng-click="insurance.selectPatient(patientEntity)" style="cursor:pointer;">SELECT</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <span style="color:red;" ng-if="insurance.numberErrorMessage">(*Please enter phone number of length 10 digits)</span>
            <hr>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="cursor:pointer;color:white;" data-toggle="collapse" data-parent="#accordion" data-target="#registration">Registration</a>
                        </h4>
                    </div>
                    <div id="registration" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-6 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">*Case Number</label>
                                    <input ng-model="insurance.organizationCaseNo" type="text" class="form-control" name="primarynumber" placeholder="Case Number" readonly>
                                    <label class="control-label">*Insurance Type</label>
                                    <select ng-model="insurance.insuranceType" class="form-control" name="insurance type">
                                        <option value="TYPE_1">TYPE_1</option>
                                        <option value="TYPE_2">TYPE_2</option>
                                        <option value="TYPE_3">TYPE_3</option>
                                    </select>
                                    <label class="control-label">*Insurance Category</label>
                                    <select ng-model="insurance.insuranceName" class="form-control" name="insurance type">
                                        <option value="NAME_1">NAME_1</option>
                                        <option value="NAME_2">NAME_2</option>
                                        <option value="NAME_3">NAME_3</option>
                                    </select>
                                    <label class="control-label">*Insurance Reference Number</label>
                                    <input ng-model="insurance.insuranceReferenceNo" type="text" class="form-control" name="referencenumber" placeholder="Reference Number">
                                    <label class="control-label">*Company name</label>
                                    <input ng-model="insurance.insuranceCompany" type="text" class="form-control" name="companyname" placeholder="Company Name">
                                    <label class="control-label">*Primary Patient Name</label>
                                    <input ng-model="insurance.primaryPatientName" type="text" class="form-control" name="primaryinsurance" placeholder="Primary Insurance">
                                    <label class="control-label">*Relation to Primary</label>
                                    <!-- <input ng-model="insurance.primaryRelation" type="text" class="form-control" name="relationtoprimary" placeholder="Relation to Primary"> -->
                                    <select ng-model="insurance.primaryRelation" class="form-control" name="insurance type">
                                        <option value="SELF">SELF</option>
                                        <option value="SPOUSE">SPOUSE</option>
                                        <option value="CHILD">CHILD</option>
                                        <option value="FATHER">FATHER</option>
                                        <option value="MOTHER">MOTHER</option>
                                        <option value="SIBLING">SIBLING</option>
                                        <option value="GRAND_PARENT">GRAND_PARENT</option>
                                        <option value="OTHER">OTHER</option>
                                    </select>
                                    <label class="control-label">*Phone Number</label>
                                    <input ng-model="insurance.patientPhoneNumber" type="text" class="form-control" name="primarynumber" placeholder="Primary number">
                                    <label class="control-label">*Patient Name</label>
                                    <input ng-model="insurance.patientName" type="text" class="form-control" name="primarynumber" placeholder="Patient Name">
                                </div>
                                <div class="form-group">
                                    <button ng-click="insurance.registerInsurance()" class="btn mainAdminBtn">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="cursor:pointer;color:white;" data-target="#approvals" data-toggle="collapse" data-parent="#accordion">
                                Approvals
                            </a>
                        </h4>
                    </div>
                    <div id="approvals" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <label for="exampleCaseName">Select Case Name</label>
                                    <div style="display:inline-block;" class="dropdown">
                                        <button style="width:250px;color:black;" class="dropdown-toggle btn" type="button" data-toggle="dropdown">{{insurance.displaySelectedCaseNumber}}<span class="caretCss caret"></span></button>
                                        <ul style="width:250px;" class="dropdown-menu">
                                            <li ng-click="insurance.selectCaseNumber(caseEntity)" ng-repeat="caseEntity in insurance.patientCases">
                                                <a style="cursor:pointer;">{{caseEntity.organizationCaseNo}}-{{caseEntity.creationTime|longDateIntoReadableDate}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <span style="display:inline-block;cursor:pointer;" data-target="#prescriptionsModal" data-toggle="modal" ng-if="insurance.viewPrescriptionsLink"><a style="">View Prescriptions</a></span>
                                <span style="display:inline-block;" ng-if="insurance.viewBillsLink"><a style="cursor:pointer;" ng-click="insurance.invoicesTable=!insurance.invoicesTable;">Bills</a></span>
                            </div>
                            <div ng-if="insurance.invoicesTable" ng-repeat="invoiceEntity in insurance.invoicesList track by $index">
                                <h4>Patient-{{invoiceEntity.billingInvoice.patientName}},Doctor-{{invoiceEntity.billingInvoice.doctorName}}</h4>
                                <table id="invoicesTable" style="margin-top:20px;" class="table table-responsive table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Bill Name</th>
                                            <th>Due Date</th>
                                            <th>Cost</th>
                                            <th>Discount</th>
                                            <th>Tax</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Paid</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="invoiceElement in invoiceEntity.billingInvoice.items" ng-init="invoiceIndex=$index">
                                            <td ng-bind="invoiceIndex+1"></td>
                                            <td ng-bind="invoiceElement.itemName"></td>
                                            <td ng-bind="invoiceElement.dueDate|longDateIntoReadableDate"></td>
                                            <td ng-bind="invoiceElement.cost/100"></td>
                                            <td ng-bind="invoiceElement.discount"></td>
                                            <td ng-bind="invoiceElement.tax"></td>
                                            <td ng-bind="invoiceElement.count"></td>
                                            <td ng-bind="invoiceElement.amountCharged/100"></td>
                                            <td>
                                                <input style="color:white;" disabled type="checkbox" ng-checked="invoiceElement.paid">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="insuranceBills">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="exampleBill">Total Actual Bill</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="exampleInsurance">Total Insurance Bill</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="exampleinsuranceBill">Insurance Actual Pay</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="exampleTds">TDS Value</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="exampleDiscount">Discount Insurance</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="exampleInsurance">TDS Percentage</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="prescriptionsModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Case Prescriptions</h4>
                        </div>
                        <div class="modal-body">
                            <div ng-repeat="prescEntity in insurance.prescriptionsInModal">
                                <h4>Prescription - {{prescEntity.lastUpdated|longDateIntoReadableDate}}</h4>
                                <div class="row" ng-repeat="prescField in prescEntity.prescriptionEntities track by $index">
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <label ng-bind="prescField.name"></label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        <span ng-bind="prescField.value"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <div class="form-group">
                                            <label ng-bind="prescEntity.diagnosisTests.name"></label>
                                        </div>
                                        <table ng-if="prescEntity.diagnosisTests.tests.length>0" class="table table-bordered table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Test Name</th>
                                                    <th>Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="testEntity in prescEntity.diagnosisTests.tests">
                                                    <td ng-bind="testEntity.diagnosisTest"></td>
                                                    <td ng-bind="testEntity.remark"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11 col-sm-11 col-xs-11">
                                        <div class="form-group">
                                            <label ng-bind="prescEntity.drugDosage.name"></label>
                                        </div>
                                        <table ng-if="prescEntity.drugDosage.drugsList.length>0" class="table table-bordered table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Brand Name</th>
                                                    <th>Per Serving</th>
                                                    <th>Days/Quantity</th>
                                                    <th>Usage</th>
                                                    <th>Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="drugEntity in prescEntity.drugDosage.drugsList">
                                                    <td ng-bind="drugEntity.brandName"></td>
                                                    <td ng-bind="drugEntity.perServing"></td>
                                                    <td ng-bind="drugEntity.noOfDays"></td>
                                                    <td ng-bind="drugEntity.usageDirection"></td>
                                                    <td ng-bind="drugEntity.remarks"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
