<div ng-controller="invoiceHistoryController as invoice" ng-cloak>
    <div class="container-fluid">
        <h3 id="invoiceHeader" ng-bind="invoice.name"></h3>
        <div class="row searchSection">
            <label for="exampleInputSearchLabel">Search Using:</label>
            <form class="form-inline">
                <div class="form-group">
                    <div class="dropdown">
                        <button class="btn inventoryHistoryBtn dropdown-toggle" id="searchTypeSelect" type="button" data-toggle="dropdown">{{invoice.searchSelected}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="search in invoice.searchTypes">
                                <a ng-click="invoice.selectSearchType(search)" class="searchTypes" ng-bind="search"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-show="invoice.doctorsDropdown" class="form-group">
                    <div class="dropdown">
                        <button class="btn inventoryHistoryBtn dropdown-toggle" id="doctorSelectForInvoiceHistory" type="button" data-toggle="dropdown">{{invoice.doctorSelected}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="doctor in invoice.doctorsList track by $index">
                                <a ng-click="invoice.selectDoctorForSearch(doctor)" class="searchTypes" ng-bind="doctor.firstName +' '+doctor.lastName"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-show="invoice.searchBox" class="form-group">
                    <input ng-model="invoice.searchEntity" type="text" class="form-control inventoryHistoryTxtBox" id="exampleInputSearch">
                </div>
                <div ng-show="invoice.searchBoxDate" class="form-group">
                    <input type="text" ng-model="invoice.searchDate" class="form-control inventoryHistoryTxtBox" id="date" readonly>
                </div>
                <div ng-show="invoice.searchBoxEndDate" class="form-group">
                    <span>-</span>
                    <input type="text" ng-model="invoice.searchEndDate" class="form-control inventoryHistoryTxtBox" id="endDate" readonly>
                </div>
                <button ng-click="invoice.searchRequestSubmit()" type="submit" class="btn searchBtnInventoryHistory">Search</button>
                <div class="form-group buttonsGroup">
                    <button ng-click="invoice.viewAllInvoices()" ng-class="{'activeBtnInvoice':invoice.isAllRedActive,'invoiceBtn':invoice.isAllBlueActive}" class="btn">All</button>
                    <button ng-click="invoice.viewPendingInvoices()" ng-class="{'activeBtnInvoice':invoice.isPendingRedActive,'invoiceBtn':invoice.isPendingBlueActive}" class="btn">Payment Pending</button>
                </div>
            </form>
        </div>
        <p ng-if="invoice.searchWarningMessage" style="color:red;margin-left:45px;">**Please fill the search box</p>
        <div class="invoiceHistoryTab col-md-11">
            <table class="table invoiceHistoryTable">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Invoice No.</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Doctor</th>
                        <th>Cost Due</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="invoiceHistoryTableBody">
                    <tr ng-click="invoice.editInvoice(invoiceEle)" class="invoiceListElements" ng-repeat="invoiceEle in invoice.invoiceGlobal.invoiceHistoryList track by $index">
                        <td ng-bind="$index+1+((invoice.currentPage-1)*invoice.itemsPerPage)"></td>
                        <td></td>
                        <td ng-bind="invoiceEle.billingInvoice.patientName"></td>
                        <td ng-bind="invoiceEle.billingInvoice.creationTime |longDateIntoReadableDate"></td>
                        <td ng-bind="invoiceEle.billingInvoice.doctorName"></td>
                        <td ng-bind="(invoiceEle.billingInvoice.totalAmount-invoiceEle.billingInvoice.amountPaid)/100"></td>
                        <td>
                            <button class="btn searchBtnInventoryHistory viewInvoicesBtn">View All Invoices</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <uib-pagination class="pull-right" items-per-page="invoice.itemsPerPage" ng-change="invoice.pageChanged()" total-items="invoice.totalItems" ng-model="invoice.currentPage"></uib-pagination>
            <div id="blurBackScreen" ng-show="invoice.blurScreen"></div>
            <img class="spinner" src="css/images/default (2).gif" ng-show="invoice.loading"></img>
        </div>
    </div>
</div>
