<div ng-controller="mainAdminController as mainAdmin">
    <div id="wrapperMainAdmin">
        <div style="position:absolute;" id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        Administration
                    </a>
                </li>
                <li ui-sref-active="highlightActiveAdminEntity highlightActiveAdminEntity>a" class="adminItem" ui-sref=".addDocCategory">
                    <a class="mainAdminLinks">Add Doctor Category</a>
                </li>
                <li ui-sref-active="highlightActiveAdminEntity highlightActiveAdminEntity>a" class="adminItem" ui-sref=".addDoctor">
                    <a class="mainAdminLinks">Add Doctor</a>
                </li>
                <li ui-sref-active="highlightActiveAdminEntity highlightActiveAdminEntity>a" class="adminItem" ui-sref=".addRoomCategory">
                    <a class="mainAdminLinks">Add Room Category</a>
                </li>
                <li ui-sref-active="highlightActiveAdminEntity highlightActiveAdminEntity>a" class="adminItem" ui-sref=".addRoom">
                    <a class="mainAdminLinks">Add Room</a>
                </li>
                <li ui-sref-active="highlightActiveAdminEntity highlightActiveAdminEntity>a" class="adminItem" ui-sref=".addBed">
                    <a class="mainAdminLinks">Add Bed</a>
                </li>
                <li ui-sref-active="highlightActiveAdminEntity highlightActiveAdminEntity>a" class="adminItem" ui-sref=".addTemplate">
                    <a class="mainAdminLinks">Add Template</a>
                </li>
                <li ui-sref-active="highlightActiveAdminEntity highlightActiveAdminEntity>a" class="adminItem" ui-sref=".permissions">
                    <a class="mainAdminLinks">Add Permissions</a></li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div ui-view autoscroll='false'></div>
            </div>
        </div>
    </div>
</div>
