<div ng-controller="operatorController as operator" ng-cloak>
    <div id="blurBackScreen" ng-show="operator.blurScreen"></div>
    <img class="spinner" src="css/images/default (2).gif" ng-show="operator.loading"></img>
    <div class="container">
        <h3 class="prescriptionHeader">Patient Prescriptions:</h3>
        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-4 col-sm-6 col-xs-6">
                <div id="doctorInOperator" class="dropdown">
                    <button id="doctorInOperatorBtn" style="width:100%;font-weight:700;" class="docDropdownInInpatient roomDropdowns roomTypeDropdown dropdown-toggle" type="button" data-toggle="dropdown">{{operator.doctorName}}<span id="caretdoctorInOperator" class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-click="operator.doctorSelect(prescriptionDoctor)" ng-repeat="prescriptionDoctor in operator.doctorsListToBeDisplayed">
                            <a style="cursor:pointer;" ng-bind="prescriptionDoctor.firstName"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="newOrUpdatePatientModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add / Update Patient Details:</h4>
                    </div>
                    <div class="modal-body">
                        <span style="color:red;" ng-if="operator.noPatientDetailsErrorMessage">No Patient Details Found.Please add Patient</span>
                        <span style="color:red;" ng-if="operator.mandatoryFieldsErrorMessage">Please enter *asterisk marked mandatory fields</span>
                        <div class="row inpatientRowInModal">
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputName">*Name</label>
                                        <input type="text" class="form-control exampleInpatientPhone" id="exampleInputFirstName" ng-model="operator.patientData.firstName" placeholder="Name">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail">Email</label>
                                        <input type="email" class="form-control exampleInpatientPhone" id="exampleInputEmail" ng-model="operator.patientData.emailId" placeholder="Email">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputPhoneNumber">*Phone Number</label>
                                        <input numbers-only type="text" class="form-control exampleInpatientPhone" id="exampleInputPhoneNumber" ng-model="operator.patientData.phoneNumber" placeholder="Phone Number">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row inpatientRowInModal">
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputAge">Age</label>
                                        <input type="text" class="form-control exampleInpatientPhone" id="exampleInputAge" ng-model="operator.patientData.age" placeholder="Age">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputGender">Gender</label>
                                        <select ng-model="operator.patientData.gender" class="form-control exampleInpatientPhone" id="exampleInputGender">
                                            <option>MALE</option>
                                            <option>FEMALE</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputBloodGroup">Blood Group</label>
                                        <select ng-model="operator.patientData.bloodGroup" class="form-control exampleInpatientPhone" id="exampleInputBloodGroup">
                                            <option value="O_POSITIVE">O_POSITIVE</option>
                                            <option value="O_NEGATIVE">O_NEGATIVE</option>
                                            <option value="A_POSITIVE">A_POSITIVE</option>
                                            <option value="A_NEGATIVE">A_NEGATIVE</option>
                                            <option value="B_POSITIVE">B_POSITIVE</option>
                                            <option value="B_NEGATIVE">B_NEGATIVE</option>
                                            <option value="AB_POSITIVE">AB_POSITIVE</option>
                                            <option value="AB_NEGATIVE">AB_NEGATIVE</option>
                                            <option value="OTHER">OTHER</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row inpatientRowInModal">
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputDrugAllergy">Drug Allergy</label>
                                        <input type="text" ng-model="operator.patientData.drugAllergy" class="form-control exampleInpatientPhone" id="exampleInputDrugAllergy" placeholder="Drug Allergy">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="row text-center">
                            <button id="addPatientBtnInModal" ng-click="operator.addOrUpdatePatient()" class="buttonsInInpatientModal btn addPatientBtn" type="button">Save</button>
                            <button class="btn buttonsInInpatientModal addPatientBtn" data-dismiss="modal" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-9 col-sm-11 col-xs-11">
                <div class="panel patientInOperator">
                    <div class="panel-heading">
                        <h4>Patient Search</h4>
                    </div>
                    <div class="panel-body patientInOperatorPanelBody">
                        <form class="form-inline">
                            <div class="form-group">
                                <input ng-change="operator.phoneNumberLengthValidation()" class="form-control" numbers-only ng-model="operator.phoneNumber" placeholder="Phone Number" type="text">
                            </div>
                            <button ng-click="operator.patientSearchByOperator()" ng-disabled="operator.patientSearchBtnDisabled" type="button" class="btn addPatientBtn">Search</button>
                            <a ng-click="operator.updatePatientDetails()" data-toggle="modal" data-target="#newOrUpdatePatientModal" ng-if="operator.updatePatient" style="cursor:pointer;margin-right:15px;">update patient details</a>
                            <a ng-click="operator.addFamilyMember()" data-toggle="modal" data-target="#newOrUpdatePatientModal" ng-if="operator.addMember" style="cursor:pointer;">add member</a>
                        </form>
                        <span style="color:red;" ng-if="operator.PhoneNumberErrorMessage">(* Please enter phone number of length 10 digits)</span>
                        <div class="row">
                            <label id="patientsListLabel">Patients are:</label>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-6" ng-repeat="patientEntity in operator.patientsToBeDisplayedInRadios">
                            <div class="radio patientRadios">
                                <label class="textOfRadios">
                                    <input ng-click="operator.selectActivePatient(patientEntity,$index)" type="radio" ng-checked="operator.{{'radio'+$index}}" name="patientRadio">{{patientEntity.firstName}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-9 col-sm-11 col-xs-11">
                <div class="panel patientInOperator">
                    <div class="panel-heading">
                        <h4>Investigation</h4>
                    </div>
                    <div class="panel-body patientInOperatorPanelBody">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <textarea class="form-control" ng-model="operator.symptoms" rows="3" placeholder="Symptoms" id="prescSymptoms"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <textarea class="form-control" ng-model="operator.investigation" rows="3" placeholder="Investigation Report" id="investigationReport"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-9 col-sm-11 col-xs-11">
                <div class="panel patientInOperator">
                    <div class="panel-heading">
                        <h4>Add Drugs</h4>
                    </div>
                    <div class="panel-body patientInOperatorPanelBody">
                        <div class="row">
                            <div class="col-md-9 col-xs-9 col-sm-9 form-group">
                                <input type="text" placeholder="Drug" ng-model="operator.fillPrescription.drugSearch" id="drugSearchBox" class="form-control" data-validation="required">
                                <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input type="text" id="drugType" ng-model="operator.fillPrescription.drugType" class="form-control fillPrescriptionSecondRow" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <input type="text" class="form-control drugScndRow" ng-model="operator.fillPrescription.perServing">
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <input type="text" readonly placeholder="units" class="form-control drugScndRow" ng-model="operator.fillPrescription.perServingUnits">
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <select class="form-control fillPrescriptionSecondRow drugScndRow" ng-model="operator.fillPrescription.daysOrQuantity" placeholder="Days" id="prescriptionFormDays">
                                    <option name="Days">Days</option>
                                    <option name="Quantity">Quantity</option>
                                </select>
                            </div>
                            <div id="daysCountBox" class="col-md-2 form-group drugScndRow input-group spinner col-sm-2 col-xs-10">
                                <input type="number" ng-model="operator.fillPrescription.days" class="form-control fillPrescriptionSecondRow" value="1" id="prescription-form-units"></input>
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" ng-click="operator.daysIncrement()" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" ng-click="operator.daysDecrement()" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <textarea class="form-control" ng-model="operator.fillPrescription.specialInstructions" rows="3" placeholder="Special Instructions" id="prescription-form-si"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timingsBtnGrp" class="col-md-12 col-xs-12 col-sm-12 form-group">
                                <button type="button" ng-click="operator.addSuccess('Before_BreakFast')" class="btn timingsBtn col-md-1 btn-xs btn-{{operator.Before_BreakFast}}">BBF</button>
                                <button type="button" ng-click="operator.addSuccess('After_BreakFast')" class="btn timingsBtn col-md-1 btn-xs btn-{{operator.After_BreakFast}}">ABF</button>
                                <button type="button" ng-click="operator.addSuccess('Before_Lunch')" class="btn timingsBtn col-md-1 btn-xs btn-{{operator.Before_Lunch}}">BL</button>
                                <button type="button" ng-click="operator.addSuccess('After_Lunch')" class="btn timingsBtn col-md-1 btn-xs btn-{{operator.After_Lunch}}">AL</button>
                                <button type="button" ng-click="operator.addSuccess('Before_Dinner')" class="btn timingsBtn col-md-1 btn-xs btn-{{operator.Before_Dinner}}">BD</button>
                                <button type="button" ng-click="operator.addSuccess('After_Dinner')" class="btn timingsBtn col-md-1 btn-xs btn-{{operator.After_Dinner}}">AD</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <button type="submit" ng-click="operator.addDrug()" id="addPrescriptionBtn" class="btn pull-right">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-9 col-sm-11 col-xs-11">
                <div class="panel patientInOperator">
                    <div class="panel-heading">
                        <h4>List of Drugs</h4>
                    </div>
                    <div class="panel-body patientInOperatorPanelBody">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Brand Name</th>
                                    <th>Per Serving</th>
                                    <th>Days/Quantity</th>
                                    <th>Usage</th>
                                    <th>Remarks</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="drugEntity in operator.drugsList">
                                    <td ng-bind="$index+1"></td>
                                    <td ng-bind="drugEntity.brandName"></td>
                                    <td ng-bind="drugEntity.perServing"></td>
                                    <td ng-bind="drugEntity.noOfDays"></td>
                                    <td ng-bind="drugEntity.usageDirection"></td>
                                    <td ng-bind="drugEntity.remarks"></td>
                                    <td>
                                        <button type="button" ng-click="operator.deleteDrug($index)" class="btn btnDelete">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-9 col-sm-11 col-xs-11">
                <div class="panel patientInOperator">
                    <div class="panel-heading">
                        <h4>Tests</h4>
                    </div>
                    <div class="panel-body patientInOperatorPanelBody">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <input type="text" ng-model-options="{debounce:500}" ng-change="operator.testSearch()" id="testSearchBox" ng-model="operator.test.testName" class="form-control testsRow" placeholder="Test">
                                <ul id="testsDropDown" ng-class="{'testDropDownActive':operator.dropdownActive}" class="dropdown-menu">
                                    <li ng-click="operator.selectTestFromTheDropdown(testEntity)" ng-repeat="testEntity in operator.testsList">
                                        <a style="cursor:pointer;" ng-bind="testEntity.diagnosisTest"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" ng-model="operator.test.remarks" class="form-control testsRow" placeholder="Remarks">
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <button id="addTestBtn" type="submit" ng-click="operator.addTest()" class="btn">Add</button>
                            </div>
                        </div>
                        <table style="margin-top:8px;" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Test</th>
                                    <th>Remarks</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="testItem in operator.testsListInTable">
                                    <td ng-bind="$index+1"></td>
                                    <td ng-bind="testItem.testName"></td>
                                    <td ng-bind="testItem.remark"></td>
                                    <td>
                                        <button type="button" ng-click="operator.deleteTest($index)" class="btn btnDelete">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-9 col-sm-11 col-xs-11">
                <div class="panel patientInOperator">
                    <div class="panel-heading">
                        <h4>Remarks</h4>
                    </div>
                    <div class="panel-body patientInOperatorPanelBody">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputDays">Revisit After(Days)</label>
                                <input ng-change="operator.daysChange()" ng-model="operator.revisitAfterDays" type="text" class="form-control" id="exampleInputDays" placeholder="Days">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDate">Revisit Date</label>
                                <input type="text" ng-model="operator.revisitAfterDate" class="form-control" id="exampleInputRevisitDate" placeholder="Revisit Date">
                            </div>
                        </form>
                        <form class="form-inline referToForm">
                            <div class="form-group">
                                <label for="exampleInputReferTo">Refer To</label>
                                <input type="text" ng-model="operator.referToDoctor" class="form-control" id="exampleInputReferTo" placeholder="Refer To">
                            </div>
                        </form>
                        <textarea class="form-control" ng-model="operator.additionalComments" rows="3" placeholder="Additional Comments" id="prescriptionAdditionalComments"></textarea>
                        <div class="row">
                            <a id="printBtn" href="views/printPrescription.html" style="cursor:pointer" type="submit" target="_blank" class="btn finalBillSubmit pull-right"><i class="fa fa-print"></i>Print</a>
                            <button id="saveAndContinueBtn" type="submit" ng-click="operator.savePrescription()" class="btn pull-right">Save and Continue</button>
                        </div>
                        <div class="row">
                            <span style="margin-right:15px;" class="pull-right">(*Please Save Prescription before print)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
