<div ng-controller="patientHistoryController as patientHistory">
    <ul class="nav nav-tabs">
        <li class="active"><a>Patient History</a></li>
    </ul>
    <div class="tab">
        <div id="contentOfHistoryTab" class="tab-content activeTabContent">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td width="21%" valign="top">Allergies</td>
                        <td width="79%">
                            <textarea ng-model="patientHistory.request.allergies" name="allergies" id="allergies" class="form-control input-sm" style="width:60%;" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">Warnings</td>
                        <td>
                            <textarea name="warnings" ng-model="patientHistory.request.warnings" id="warnings" class="form-control input-sm" style="width:60%;" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">Social History</td>
                        <td>
                            <textarea name="socialHistory" ng-model="patientHistory.request.socialHistory" id="socialHistory" class="form-control input-sm" style="width:60%;" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">Family History</td>
                        <td>
                            <textarea name="familyHistory" ng-model="patientHistory.request.familyHistory" id="familyHistory" class="form-control input-sm" style="width:60%;" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">Personal History</td>
                        <td>
                            <textarea name="personalHistory" ng-model="patientHistory.request.personalHistory" id="personalHistory" class="form-control input-sm" style="width:60%;" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">Past Medical History</td>
                        <td>
                            <textarea name="pastMedicalHistory" ng-model="patientHistory.request.patientMedicalHistory" id="pastMedicalHistory" class="form-control input-sm" style="width:60%;" rows="3"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="" ng-if="patientMedication && patientHistory.getData();"></a>
            <button ng-click="patientHistory.savePatientHistory()" class="btn mainAdminBtn">Save</button>
        </div>
    </div>
</div>
