<div ng-controller="patientDetailsController as detail">
    <ul class="nav nav-tabs">
        <li class="active">
            <a ng-bind="activeTemplate.name"></a>
        </li>
    </ul>
    <div class="tab">
        <div id="contentOfPatientDetailsTab" class="tab-content activeTabContent">
            <a ng-click="detail.viewPreviousForms()" class="previousForms">View Previous Forms</a>
            <div ng-repeat="section in activeTemplateFields">
                <div ng-repeat="sectionEntity in section track by $index">
                    <a ng-if="patientMedication && detail.getData();"></a>
                    <h4 ng-if="$index==0" ng-bind="sectionEntity.sectionName"></h4>
                    <hr ng-if="$index==0">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div ng-if="sectionEntity.fieldState=='ACTIVE' && sectionEntity.fieldType=='TEXT_BOX'" class="form-group">
                                <label ng-bind="sectionEntity.name"></label>
                                <input type="text" class="form-control" name="text" ng-model="sectionEntity.description">
                            </div>
                            <div ng-if="sectionEntity.fieldState=='ACTIVE' && sectionEntity.fieldType=='DROPDOWN'" class="form-group">
                                <label ng-bind="sectionEntity.name"></label>
                                <select class="selectBoxesInNurse" ng-model="sectionEntity.description" ng-options="template.value as template.name for template in sectionEntity.restrictValues"></select>
                            </div>
                            <div ng-if="sectionEntity.fieldState=='ACTIVE' && sectionEntity.fieldType=='TEXT_AREA'" class="form-group">
                                <label ng-bind="sectionEntity.name"></label>
                                <textarea ng-model="sectionEntity.description" class="form-control" rows="2"></textarea>
                            </div>
                            <div ng-if="sectionEntity.fieldState=='ACTIVE' && sectionEntity.fieldType=='CHECK_BOX'" class="form-group">
                                <label ng-bind="sectionEntity.name"></label>
                                <div class="row">
                                    <div ng-repeat="restrictValue in sectionEntity.restrictValues" class="col-md-3 col-sm-3 col-xs-3">
                                        <label class="checkbox-inline">
                                            <input ng-click="restrictValue.checkBoxValue=!restrictValue.checkBoxValue" type="checkbox">{{restrictValue.name}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button ng-click="detail.submitPatientFullForm()" style="margin-left:10px;" class="btn mainAdminBtn">Save</button>
            </div>
        </div>
    </div>
    <div id="previousFormsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Previous Forms</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="templateEntity in detail.activeTemplateInstances">
                        <div ng-repeat="fieldEntity in templateEntity">
                            <hr>
                            <div ng-repeat="field in fieldEntity track by $index">
                                <h4 ng-if="$index==0" class="labelName" ng-bind="field.sectionName"></h4>
                                <div>
                                    <table>
                                        <tbody>
                                            <tr ng-if="field.value!==''&&field.fieldType=='TEXT_BOX'||field.fieldType=='TEXT_AREA'||field.fieldType=='DROPDOWN'">
                                                <td class="labelWidth patientLabels" ng-bind="field.name+':'"></td>
                                                <td class="patientLabels" ng-bind="field.value"></td>
                                            </tr>
                                            <tr ng-if="field.value!==''&&field.fieldType=='CHECK_BOX'">
                                                <td class="labelWidth patientLabels" ng-bind="field.name +':'"></td>
                                                <td class="patientLabels" ng-bind="field.value"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
