<div ng-controller="roomCategoryController as roomCategory">
    <h4>Add Room Category</h4>
    <button class="btn mainAdminBtn" data-toggle="modal" data-target="#addRoomCategoryModal">Add New</button>
    <div id="addRoomCategoryModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Room Category</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <form>
                                <div class="form-group">
                                    <label for="exampleRoomCategoryName">Room Category Name</label>
                                    <input type="text" ng-model="roomCategory.newRoomCategory.roomType" class="form-control" id="exampleRoomCategoryName" placeholder="Room Category Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPrice">Price</label>
                                    <input type="text" ng-model="roomCategory.newRoomCategory.price" class="form-control" id="exampleInputPrice" placeholder="Price">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputDescription">Description</label>
                                    <input type="text" ng-model="roomCategory.newRoomCategory.description" class="form-control" id="exampleInputDescription" placeholder="Description">
                                </div>
                                <div class="form-inline">
                                    <button ng-click="roomCategory.addNewRoomCategory()" class="btn mainAdminBtn" data-dismiss="modal">Save</button>
                                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="input-group">
        <input style="margin-top:8px;" type="search" ng-model="roomCategory.inputItemSearch" class="form-control searchInMainAdmin pull-right" ng-change="roomCategory.roomCategorySearch()" placeholder="Search">
        <!-- <span ng-click="roomCategory.roomCategorySearch()" class="input-group-btn">
            <button type="submit" class="btn mainAdminBtn searchBtnInMainAdmin"><span class="glyphicon glyphiconSearch glyphicon-search"></span></button>
        </span> -->
    </div>
    <table ng-table="roomCategory.tableParams" show-filter="true" class="table mainAdminTable table-hover table-striped">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Room Category Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="roomCategoryEntity in roomCategory.activeRoomCategories">
                <td ng-bind="$index+1"></td>
                <td ng-bind="roomCategoryEntity.roomType"></td>
                <td ng-bind="roomCategoryEntity.description"></td>
                <td>
                    <a ng-click="roomCategory.editRoomCategory(roomCategoryEntity,$index)" data-toggle="modal" data-target="#addRoomCategoryModal" class="linksInTable mainAdminLinks">Edit</a> |
                    <a ng-click="roomCategory.deleteRoomCategory(roomCategoryEntity,$index)" class="linksInTable mainAdminLinks">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <uib-pagination class="pull-right" items-per-page="roomCategory.itemsPerPage" ng-change="roomCategory.pageChanged()" total-items="roomCategory.totalItems" ng-model="roomCategory.currentPage"></uib-pagination>
</div>
